[2015-09-02 19:38] pocketbird opened #11 "Bad Grammar"
Using "theirs" to replace "his" doesn't work.  You're using a plural to refer to a singular subject.  Should be (at least) "his/hers" to replace "his."

![image](https://cloud.githubusercontent.com/assets/1628599/9641961/264d57dc-517f-11e5-86c7-19541e4f783d.png)

It's not really offensive to use "his" *or* "hers" in a sentence when referring to a singular subject of unknown gender.  It's just prop

[2015-09-02 19:43] wooorm commented on #11
Thanks for the issue. I’ll read this now but before I start: http://languagelog.ldc.upenn.edu/nll/?category_name=singular-they and http://english.stackexchange.com/questions/48/is-there-a-correct-gender-neutral-singular-pronoun-his-versus-her-versus/55#55!

[2015-09-02 19:58] wooorm commented on #11
Okay: again, thanks for raising the issue. You provide some very philosophical points: introducing new words to the English lexicon and whatnot. Have you seen [xe](https://genderneutralpronoun.wordpress.com/tag/xe/)? Very interesting indeed. I don’t think I can persuade enough people by adding it here. Maybe [Sweden](https://www.washingtonpost.com/news/worldviews/wp/2015/04/01/sweden-is-about-to-a

[2015-09-02 20:39] Charlotteis commented on #11
As someone who refers to themselves using gender neutral pronouns, people say "It is theirs" when talking about what I possess, rather than "It is hers". It works, I am happy with it.

Language is beautiful and adaptive. It can also be difficult to wield in all cases, but I think "theirs" is the right call here.

"his"/"hers" excludes everyone who is neither a "he" nor a "she".

There are many pro

[2015-09-02 20:45] wooorm commented on #11
@Charlotteis Thanks, and I agree :+1:

[2015-09-02 22:09] pocketbird commented on #11
I think I understand - and I disagree but, regardless, I appreciate your thoughtfulness and reasoning.

I haven't seen xe but, will check it out.

Out of curiosity, @charlotteis you said "themselves" - do you consider yourself as having two separate identities or did you mean to say, "themself?" I think maybe "themself" is correct in this scenario, not "themselves." "Themself" being a new word but

[2015-09-03 07:46] Charlotteis commented on #11
I don't think I used "themselves" in my comment. I would use "themself" personally. I consider myself to be a person, thats my identity :)

[2015-09-03 08:17] wooorm commented on #11
I’m going to close this. Again, thanks for your question / opinion. I really appreciate it but I have to decline changing alex.

Anyway, feel free to re-open.

[2015-09-03 08:17] #11 closed

[2015-09-03 13:30] NogsMPLS opened #12 "Add 'them' as option for him/her"
Using demo site, example sentence:

"I like him." or "I like her."

Currently suggests:

"him may be insensitive, use their, theirs instead"

Would be better to suggest "them". Or at minimum, append "them" to the 'their, theirs' list.

[2015-09-03 13:32] wooorm commented on #12
Will do. I’m adding some more profane words (everyone is typing horrible words in the demo and getting angry that they’re not highlighted) tonight, and I’ll add this too!

Thanks!

[2015-09-03 14:40] Ketchup901 opened #13 "Why is "man" insensitive while "woman" isn't?"
https://i.imgur.com/2awDAA6.png

[2015-09-03 14:41] wooorm commented on #13
Woops, sorry. That shouldn’t happen of course. The algorithm changed a lot while developing, that must’ve slipped through!

I’ll fix this later today!

[2015-09-03 14:43] Ketchup901 commented on #13
This is outrageous.
"Him" is a fucking PRONOUN. How is it insensitive? I feel very offended, it's as if I'm not a human being just because I am a man. This is what you call sexism.

[2015-09-03 14:45] wooorm commented on #13
Again, sorry. I'll fix this later.

[2015-09-03 14:47] Ketchup901 commented on #13
This whole project is retarded and poorly coded.
https://rbt.asia/g/thread/50073311

[2015-09-03 16:05] RamonGebben opened #14 "Multiple language support"
Are you planning or is there integration for multiple languages?

If not what would be needed to accomplish this?

[2015-09-03 16:08] wooorm commented on #14
Interesting. I’d love to. Latin-languages aren’t that hard. I use this parser for [English](https://github.com/wooorm/parse-english), which is pretty small, which is some code on top of [parse-latin](https://github.com/wooorm/parse-latin).

Then, there needs to be a pattern library. See the YAML files in [retext-equality](https://github.com/wooorm/retext-equality/tree/master/script) for more info.

[2015-09-03 16:16] RamonGebben commented on #14
Well I speak Dutch as wel but I work with an international team whom would
love to help out with with defining rules. So lets consider implementing
grammer files that the parser would work with this way anybody could submit
a new language.

Does that sound logical ?

On 18:08, Thu, Sep 3, 2015 Titus Wormer <notifications@github.com> wrote:

[2015-09-03 16:37] wooorm commented on #14
Yeah, have you seen the patterns in retext-equality? That's basically what's needed for other latin-script languages!
Again, love to help, and that sounds very logical. I think the best step now is to get started translating, if you'd like I can explain more about the types of patterns currently available. That might help get the 'mental framework' across needed for translating :)

[2015-09-03 18:07] Hual commented on #13
Hey, racial slurs aren't insensitive but 'man' sure is!

[2015-09-03 18:19] #13 closed

[2015-09-03 20:41] montogeek commented on #14
Please, add this, I want to make it available to Spanish language :)

[2015-09-04 00:18] brunowego commented on #14
Portuguese language :+1:

[2015-09-04 03:17] todrobbins commented on #12
@wooorm++

[2015-09-04 03:47] todrobbins opened #15 "Resources for term additions related to disability"
Here's a great overview of some of the disability related terms to parse:

* [An Introductory Guide to Disability Language and Empowerment](http://sudcc.syr.edu/LanguageGuide/)
* [National Center on Disability and Journalism Style Guide](http://ncdj.org/style-guide/)
* [Special Olympics Terminology Guide](http://www.specialolympics.org/uploadedFiles/Fact%20Sheet_Terminology%20Guide.pdf)

[2015-09-04 04:50] pjf opened #16 "Feature request: Per-paragraph exclusions"
I've just installed `alex`, and immediately ran it over the source of a book I've been co-authoring. It's fantastic, but I can't seem to spot a way to mark usages in certain paragraphs as being acceptable. For example, we have the line in our asciidoc source:

Alex suggests "parent" as an alternative for "pop", even though "pop up window" isn't gendered. We can't use quotes here, as "*a window wil

[2015-09-04 05:55] ErinCall opened #17 "I'm whining because it doesn't catch "bitching & moaning""
"Whining" conveys the same contempt for trivial complaints, but doesn't imply "you know, like women are always doing."

[2015-09-04 06:12] wooorm commented on #17
Thanks! I'll add them later today!

[2015-09-04 06:15] wooorm commented on #16
Would markdown comments, aka HTML comments work? So something like [this (the comment part)](https://github.com/wooorm/mdast-lint#configuring-mdast-lint)?

[2015-09-04 06:21] sindresorhus commented on #16
That's so cool! :)

[2015-09-04 08:15] #12 closed

[2015-09-04 08:15] #17 closed

[2015-09-04 08:41] RamonGebben commented on #14
I created a glitter chat room to make communication go faster
[glitter](https://gitter.im/RamonGebben/alex?utm_source=share-link&utm_medium=link&utm_campaign=share-link)

[2015-09-04 08:45] pjf commented on #16
For markdown, yes please! :)

Asciidoc has its [own idea about comments](http://asciidoctor.org/docs/asciidoc-syntax-quick-reference/#comments). Depending upon how you're doing parsing, I personally would be delighted if we saw any line starting with `// ` being checked for directives. (Asciidoc seems to be common at least at O'Reilly for book-writing, so there's an immediate use-case as part of t

[2015-09-04 08:59] pjf opened #18 "Feature request: .alexrc configuration"
It would be wonderful to have a configuration file which is used by alex to modify its default behaviour. For example, we probably want to warn about gendered pronouns in technical writing, but not when writing a novel.

Drawing inspiration again from perlcritic, I'd suggest the following:

* A config file can be manually given on the command-line (eg: `--config=...`).
* If no command-line option

[2015-09-04 09:07] sindresorhus commented on #18
I think this is a good idea, but we should add "Check for an `alex` field in package.json" (see [`pkg-conf`](https://github.com/sindresorhus/pkg-conf)) as the second step. This is common for ESLint, XO, and many other tools, so not to add even more meta files to your project.

[2015-09-04 09:07] wooorm commented on #18
Great idea, I agree that the current impossibility of configuring alex is a huge flaw. Nobody has the same standards! I’ll try to get the time to work on this next week :smile:

[2015-09-04 09:07] wooorm commented on #18
Agree w/ @sindresorhus

[2015-09-04 09:10] pjf opened #19 "Feature request: Why links"
I see alex having great potential in helping people become aware of the meanings of words that they may have used habitually and without much thought. To assist this, I'd *love* to see a mode where not just warnings are provided, but also links to further resources as well. A pair of command line options (`--why` and `--no-why`) would be appreciated to enable or disable these links being shown.

A

[2015-09-04 09:11] wooorm commented on #16
Yeah, forgot to say that it’s really awesome you’d like to include it!

There will be some difficulty in parsing asciidoc. Alex uses mdast to bridge markdown to natural language. It’s not just stripping markdown, there’s some difficulty in detecting `*in*sane` as a single word.
Similar technology needs to be added for proper asciidoc support.

Other than that, it would not be very hard to provide

[2015-09-04 09:13] wooorm commented on #19
The internal support for warnings has support for `ruleId` properties. Those could be used for links too.

It might be possible to add a link to each pattern. The same would go for author-provided patterns.

Overwriting is a bit harder though.

[2015-09-04 10:31] wooorm commented on #15
Thanks a lot! I’ll try to implement this weekend.

[2015-09-04 15:07] moosehadley opened #21 "Language standards are not consistant"
Lines 19236 through 19245 establish that it is not okay to call someone "a bi-polar" or "a schizophrenic'
[code]
Yet lines 19144 through 19151 advise the user to call someone "a sociopath"
[code]

[2015-09-04 15:14] yoshuawuyts commented on #21
@moosehadley thanks for pointing that out, the feedback is appreciated. What do you suggest as an alternative to sociopath?

[2015-09-04 15:16] wooorm commented on #21
Seems like quite the discussion: https://www.google.nl/search?rls=en&q=ableist+sociopathy

[2015-09-04 18:23] evaryont opened #22 "Consider including a list of psychological and psychiatric terms to avoid"
[See this article from Frontiers in Psychology](http://journal.frontiersin.org/article/10.3389/fpsyg.2015.01100/full).

Though I think this might not be directly related to the goal of unequal phrasing, instead "correct phrasing".

[2015-09-04 19:29] nukeop opened #23 "Poor etymology leads to absurd censoring"
Examples:

"Mankind" ("manpower" etc.) is already a gender neutral word, it already encompasses all of what you suggest to call "humankind", same as "manslaughter" for example. http://www.etymonline.com/index.php?term=man

"Master plan", "master stroke" etc. is derived from adjective "master" which is not gender specific (a woman can have a master's degree for example).

"Freshman" (or "freshwoman

[2015-09-04 19:38] maxogden commented on #18
The best part of http://standardjs.com/ is that you can't configure it, which means it is easier to use. Not saying that completely applies here, but I like the fact that you can currently use alex with zero configuration.

[2015-09-04 19:41] sindresorhus commented on #23
http://io9.com/5962243/think-twice-before-using-mankind-to-mean-all-humanity-say-scholars

Agreed, "master plan" by itself is ok.

Agreed.

https://twitter.com/kwuchu/status/618799087006130176

It's right in the tagline: "Catch insensitive, inconsiderate writing". This has nothing to do with censorship, and I'm surprised you see it as such. Alex is only meant to help us write more consderately.

[2015-09-04 19:45] nukeop commented on #23
So, some guy on twitter said he "dunnos" how he feels about that, how is that relevant?

[2015-09-04 19:46] sindresorhus commented on #18
I would say the best part of something is not when you *can't configure it*, but rather when you *don't need to*. There will always be people needing to customize things. I think great defaults that works for most, but with configurability when needed, is the way to go.

[2015-09-04 19:54] maxogden commented on #18
@sindresorhus well I disagree with you on `There will always be people needing to customize things`, but I agree with your overall point in this case. I mostly just wanted to voice my concern that feature creep + complexity are easy to add but hard to remove.

[2015-09-04 21:30] gonmf opened #24 "What does it detect?"
On the README it reads

but what exactly polarizing, race related, religion inconsiderate or other unequal phrasing is detected? I've tried some examples and nothing worked. Does it only detect a few pronouns and gendered nouns? Where can I find all the terms you chose as offensive? If it's someone elses list, who makes it? Why would I ever use this instead of just a simple ctrl+f?

[2015-09-05 03:38] yoshuawuyts commented on #23
@nukeop apparently he and at least 133 others don't feel comfortable using master / slave analogies. There are several alternatives available which `alex` will inform you of. It's always up to the author to decide whether or not to act on the information available.

[2015-09-05 03:55] pjf commented on #23
Bingo. Alex is no different from a code linter or spell-checker. It can tell you that something *might* be a problem, but it's always up to the author to decide if it actually is.

[2015-09-05 04:17] yoshuawuyts commented on #22
PRs are welcome on https://github.com/wooorm/retext-equality! :grin:

[2015-09-05 04:22] yoshuawuyts commented on #24
You can find the list of words used in https://github.com/wooorm/retext-equality. The list is updated based on community feedback, if you think it can be improved feel free to open issues / PRs about it! :grin:

`ctrl+f` responds to a query you created. `alex` returns results results you might not have been aware of prior to running it, by definition it would be nonsensical to use `ctrl+f` to sear

[2015-09-05 04:22] #24 closed

[2015-09-05 12:03] nukeop commented on #23
Well, I do feel comfortable with that terminology, and I come from a tribe that was enslaved so frequently throughout history that the word slave itself was derived from its name. I would like to remind everyone that slavery is not by any means limited to early USA and that white people such as Irish were slaves in USA in numbers as great or greater than blacks.

At any rate, this reminds me of a

[2015-09-05 12:33] yoshuawuyts commented on #23
It's not about you. It's about other people that do feel uncomfortable. See also discussions on why codes of conduct are required for conferences. If you feel your own opinion and feelings come before those of others, nobody will force you to change. Like I mentioned before: `alex` only exists to inform you of phrases that might be insensitive to others and suggest alternative phrasings.

Also reg

[2015-09-05 12:33] #23 closed

[2015-09-05 12:35] gonmf commented on #24
Well then you don't address any of the things you claim then. All terms are gendered or master/slave vs primary/replica, which isn't racial unless you're trying to ignore all the reasons behind slavery that don't have to do with race.

is just false.

Also, as has already been point out, your suggestions are very simplistic and don't have anything to do with reality. for instance primary/replica c

[2015-09-05 12:40] yoshuawuyts commented on #24
Thanks for your criticism, it has been noted. Contributions to make `alex` better at detecting context would be much appreciated. Cheers!

[2015-09-05 12:45] gonmf commented on #24
Just fix your false advertising.

[2015-09-05 12:46] Charlotteis opened #25 "Search all files in all folders of all types."
I work on a lot of open source projects that have multiple folders, with multiple files. Documentation is not always in `docs`, and often they can take the form of .html files. I'd also like to be able to check code files (*.js, *.css) for bad code comments.

Is there a way to get Alex to check all directories and all file types within those directories in an easy manner?

Apologies if this is ask

[2015-09-05 12:51] wooorm commented on #25
[This script](https://github.com/wooorm/alex/commit/c4480db5f52a8cc700e15a03c13a06cb9d57bf7a#diff-0730bb7c2e8f9ea2438b52e419dd86c9L161) might just be what you are looking for:

[code]

That lints all by Git known files!

[2015-09-05 13:01] wooorm commented on #25
Also, with globbing, you could use something like `alex * **/*`, but that would include binary files (e.g., images), and hidden files. Maybe `alex $(find . -type f)` would be more suitable!

[2015-09-05 13:02] wooorm commented on #14
@RamonGebben @montogeek @brunowego As noted earlier, this is possible, but we need patterns for each language. Would you be willing, and able, to contribute those?

[2015-09-05 13:03] wooorm commented on #15
I just checked them again, they’re really great :)

[2015-09-05 13:12] wooorm commented on #18
@sindresorhus @maxogden I agree that non-configurability makes things a lot easier, but I do think this problem needs configuration. It’s just so loaded, and everyone has different standards.
Thanks for mentioning it though, feature creep is def. not what we want, duly noted!

[2015-09-05 13:13] wooorm commented on #19
How about the size of these things though? These sentences are already long: https://github.com/wooorm/alex/blob/master/screenshot.png

[2015-09-05 13:19] RamonGebben commented on #14
Sure, I think so if would you please explain a bit more whats needs to be done? I took a look at [this file](https://github.com/wooorm/parse-english/blob/master/parse-english.js) and it looks like we want some kind of better system to generate those regexes. Then we wouldn't need to write entire new patterns every time we want to add a language. What are you're thoughts on this?

[2015-09-05 13:27] wooorm commented on #14
Are you talking about the [English abbreviation regexes](https://github.com/wooorm/parse-english/blob/master/index.js)? In that case, these are different per language, so the Dutch one also has a [custom expression](https://github.com/wooorm/parse-dutch/blob/master/index.js). There are probably lists on wikipedia for each language, so with one of those it would be a lot easier to add support for a

[2015-09-05 13:37] RamonGebben commented on #14
Ow you already have a parser for Dutch. :) Then I can't help with developing other languages because only fluent in Dutch and English. :( How would one use Alex with Dutch?

[2015-09-05 13:39] wooorm commented on #14
Pattern files, like the ones packaged with retext-equality need to be created first. Than I can think about how to support switching between these dictionaries: how they would be specified and such :)

[2015-09-05 13:41] pjf commented on #19
That's why the suggestion comes with a command-line option to enable or disable the showing of links (and I'd suggest the default be disabled).

While probably overkill, perlcritic supports a whole range of verbosity levels for this sort of thing, with everything from tiny explanations, book references, to full on community-contributed explanations:

[code]

(The actual verbosity levels map to [fo

[2015-09-05 13:53] wooorm commented on #19
Okay. I’m afraid however that these description can become very long. There could be a whole blogpost attached, or a lot of links, to each warning. How to stop that? Is that wrong? Expected? What would you like to configure?

Could you give me an example of how you see an `.alexrc` file configuring a rule?

[2015-09-05 13:56] wooorm commented on #19
As an alternative, mdast-lint uses [`ruleId`](https://github.com/wooorm/mdast-lint#command-line) properties for short, succinct, names. And It has [documentation for](https://github.com/wooorm/mdast-lint/blob/master/doc/rules.md#definition-spacing) each ruleId what it triggers for, sometimes also why, &c.:

Would it be a valid alternative to just have a link under the report with more information,

[2015-09-05 13:57] wooorm commented on #22
Thanks @evaryont!

[2015-09-05 13:58] wooorm commented on #25
IMHO this is not something which can be fixed in alex, rather, it’s something unix does well. Can I close this?

[2015-09-05 14:15] pjf commented on #19
My envisioned user-experience looks something like this:

[code]

That is, a single link presented to the user where they can learn more information. Not all warnings may have links, and if we allow users to customise their own rules then I'd hope they can customise their links as well (so they can point to project style guides or company policy). I presume that last part would preclude a link to

[2015-09-05 14:21] Charlotteis commented on #25
I used `alex $(git ls-files)` and it took... some time :clock1:
But, it does what I needed, so thank you! Feel free to close this :)

[2015-09-05 14:22] wooorm commented on #19
Okay :) I have to say that this is a bit on the back burner for me though, but I agree that there should be access to some reasoning.

[2015-09-05 14:23] wooorm commented on #25
On Pouchdb? I can indeed imagine that the size of that repo made it all a bit slower :)

[2015-09-05 14:23] #25 closed

[2015-09-05 14:44] Charlotteis commented on #25
I'm finding that alex does not read everything when I do `git ls-files`. Not sure why that is, but I'm working on it! And yes, pouchdb slows things down :P

[2015-09-05 14:55] wooorm commented on #25
Did you wrap with '$()'?

[2015-09-06 03:53] todrobbins commented on #15
Ha! Thanks. If I had a little more time on my hands I'd help make the additions. Cheers!

[2015-09-06 19:08] ccoenen commented on #19
:+1: would be helpful, especially for non-native speakers.

[2015-09-06 21:13] rugk opened #26 "Display error & some ideas for more words"
I think these screenshots should explain it quite good:
![alex01](https://cloud.githubusercontent.com/assets/11966684/9706650/6ff276c2-54ec-11e5-9d0d-d8ddcb4a15c1.PNG)

And:
![alex02](https://cloud.githubusercontent.com/assets/11966684/9706649/6fcf4706-54ec-11e5-9374-5cda35c85451.PNG)

[2015-09-06 21:24] rugk opened #27 "Why is this named Alex?"
I'm just curios: Is there some idea behind the name 'Alex'? I mean why is this soft5ware named like this?
Has the name a special meaning?

[2015-09-06 21:27] rugk opened #28 "Website display issue"
I think already https://github.com/wooorm/alex/issues/26 displays it a bit, but here is a separate and more obvious issue for this.

![alexwebsitescrolling](https://cloud.githubusercontent.com/assets/11966684/9706717/c53baf7a-54ee-11e5-969e-8cc4b37c35ef.gif)

[2015-09-06 21:41] wooorm commented on #28
Thanks for making the Gift, which browser are you using?

Basically there's a text area in front, and a div with similar styling behind it (with 'color' set to 'transparent', but with some spans with background colors).
However, having the styling in sync is pretty hard I found, so I'm not sure what it property is missing.

[2015-09-06 21:43] wooorm commented on #27
It's a nice androgynous/unisex name, it was free on npm, and I like it :)

[2015-09-06 21:43] #27 closed

[2015-09-07 06:50] sindresorhus commented on #27
@wooorm Maybe add it to a FAQ in the readme? I've gotten that question a couple of times too. Like: https://github.com/sindresorhus/ava#faq

[2015-09-07 06:56] wooorm commented on #27
@sindresorhus Nice idea! Probably should also have a header something like “Why does this not have ‘X’, this is dumb” :wink:

[2015-09-07 06:56] wooorm opened #29 "Add FAQ"
Related: GH-27.

[2015-09-07 16:56] rugk commented on #27
:+1:  for a FAQ. :smiley:

[2015-09-07 16:59] rugk commented on #28
Nice that it's a gift for you - I thought it was only a gif. :wink: :laughing:

Specs:
Firefox 40.0.3
Windows 7

[2015-09-07 17:00] wooorm commented on #28
whoops, autocorrect ;)
Thanks for the info!

[2015-09-08 03:20] jpruiz114 opened #30 "Is there a pure JavaScript not node js implementation for web?"
I would like to know if there's a way to use this library in a website frontend with pure JavaScript.

Thanks,

[2015-09-08 03:21] meetbryce opened #31 "Suggestion: would love to see this as a gulp task so you can check everything as you go"

[2015-09-08 03:29] meetbryce opened #32 "Bookmarklet and browser extensions"

[2015-09-08 03:35] yoshuawuyts commented on #31
It already exists - https://www.npmjs.com/package/gulp-alex

[2015-09-08 03:35] #31 closed

[2015-09-08 03:36] meetbryce commented on #31
Awesome! thanks.

On Tue, Sep 8, 2015 at 1:35 PM Yoshua Wuyts <notifications@github.com>
wrote:

--
Cheers,
Bryce York

[2015-09-08 03:38] sindresorhus commented on #30
Yup, https://github.com/wooorm/alex/blob/master/alex.min.js

[2015-09-08 03:38] #30 closed

[2015-09-08 05:17] wooorm commented on #31
I'll add this to the integrations though

[2015-09-08 07:29] #29 closed

[2015-09-08 07:58] wooorm commented on #32
@meetbryce Could you describe what you want this to do?

[2015-09-08 08:29] meetbryce commented on #32
Would be good to be able to highlight text and then activate the
bookmarklet and have the AlexJS results come up in a modal window.

The use cases I'm imagining are:
- emails
- google docs
- blog posts

On Tue, Sep 8, 2015 at 5:58 PM Titus Wormer <notifications@github.com>
wrote:

--
Cheers,
Bryce York

[2015-09-08 21:55] jpruiz114 commented on #30
This doesn't seem like a solution.

When you check the non minified version you see this dependencies:

/*
 * Dependencies.
 */

var bail = require('bail');
var mdast = require('mdast');
var bridge = require('mdast-util-to-nlcst');
var retext = require('retext');
var parser = require('retext-english');
var equality = require('retext-equality');
var sort = require('vfile-sort');
It also uses requir

[2015-09-08 21:55] jpruiz114 commented on #30
This doesn't seem like a solution.

When you check the non minified version you see this dependencies:

/*
 * Dependencies.
 */

var bail = require('bail');
var mdast = require('mdast');
var bridge = require('mdast-util-to-nlcst');
var retext = require('retext');
var parser = require('retext-english');
var equality = require('retext-equality');
var sort = require('vfile-sort');
It also uses requir

[2015-09-08 22:02] jpruiz114 commented on #28
Is there an example of how to use this on a website without node js? Just pure JavaScript and the library?

[2015-09-09 00:02] yoshuawuyts commented on #30
The output was bundled using `browserify -s` - https://github.com/wooorm/alex/blob/master/package.json#L80

The `require` statements are in there because of how browserify works; they can't be done away with.

In the browser do:
[code]
And `alex` should be available globally. Cheers!

[2015-09-09 06:49] wooorm commented on #30
@jpruiz114 you should try it out, it should work :)

[2015-09-09 10:29] wooorm commented on #32
I sure would like this but am not interested in creating them myself.

[2015-09-09 10:33] meetbryce commented on #32
I'll look into it once I've gotten some practice with Alex. Hopefully I'll
be able to figure out a way to print it together.

Will pull request my fork if it makes sense to incorporate it in the main
repo.
On Wed, 9 Sep 2015 at 8:29 pm, Titus Wormer <notifications@github.com>
wrote:

--
Cheers,
Bryce York

[2015-09-09 10:50] wooorm commented on #32
@meetbryce Wouldn’t it be a lot easier to create a separate repo?
In it, a `bookmarklet.js` which loads `alex.min.js` (if no `window.alex`), gets the selected text, runs alex (`var res = alex(text).messages`), and displays it? (`console.log(res.map(String))`)

[2015-09-09 14:46] jpruiz114 commented on #30
Hey there @wooorm @yoshuawuyts, I just gave it a try, not on browserify, with Chrome.

Tried it here:

http://www.jeanpaulruizvallejo.com/site/tests/js/alexjs-test-1.html

Got this:

Uncaught ReferenceError: alex is not defined(anonymous function) @ alexjs-test-1.html:13

I really want to use this library on a project of my own but not sure if the only way to use it is on a nodejs project and unde

[2015-09-09 14:50] wooorm commented on #30
Could you remove the `require.js` script?

[2015-09-09 14:53] wooorm commented on #30
And just to make testing easier, swap out `alex.min.js` for `alex.js`

[2015-09-09 14:54] jpruiz114 commented on #30
Worked!!

Got it here:

http://www.jeanpaulruizvallejo.com/site/tests/js/alexjs-test-2.html

Thanks @wooorm.

If I may ask, what makes difference having and not having the "require" call?

And also, is different the minified version from the non minified one?

[2015-09-09 14:56] wooorm commented on #30
require.js loads files from [the server](http://requirejs.org). If you later include alex it “thinks” it’s loaded by require.js. Thus, it doesn’t expose itself on `window`.
If there’s no `require.js`, alex does.

[2015-09-09 14:57] wooorm commented on #30
An no, there’s no difference between `alex.js` and `alex.min.js`’s programming interfaces.

[2015-09-09 14:59] jpruiz114 commented on #30
Thanks for your time @wooorm and for the explanation. Again, great work here!!

[2015-09-09 14:59] wooorm commented on #30
Thanks :smile:

[2015-09-10 12:16] kvz opened #33 "False positives"
Thanks for this tool! I think it will be wonderful to run our blog posts & documentation through this in our CI before deployment.

However, I have the case where

[code]

red flags on `disabled`

[code]

red flags `Osama`

and

[code]

red flags `alumnus`

The documents with the false positives are fairly big and subject to change, so Ideally I'd have a whitelist of sorts to mark these exceptions

[2015-09-10 12:24] wooorm commented on #33
Thanks!

They could be detected by #16 and #18, probably.
Also: it’s a really personal question, some people would still prefer `graduate` over `alumnus` in the last example, and the same goes for `disabled` and `turned off` in the first.
Your second example could probably be ignored by alex itself because it’s (clearly) a name.

I always meant for alex to be a help when writing, not in a CI to bl

[2015-09-11 13:00] joshhunt commented on #33
`Authentication is disabled by default` isn't insensitive, inconsiderate writing.

[2015-09-11 14:18] jdalton commented on #33
Alex reports it --> may <-- be insensitive.

[code]

I think the tool qualifies the statement enough here. Besides the occasional false positive it does happen to catch insensitive, inconsiderate writing.

[2015-09-11 14:21] ryanberckmans commented on #14
I showed alexjs to somebody who avoids inconsiderate communication for a living. Her first question was "Does it support multiple languages?"

Our vote is for Spanish and French and we can contribute to those dictionaries.

+1

[2015-09-11 14:33] wooorm commented on #14
Cool! :sunglasses: Regarding dictionaries, I can provide help with how the source code works (it’s all in [wooorm/retext-equality](https://github.com/wooorm/retext-equality/tree/master/script)). Other than that, some information regarding abbreviations in a language is needed for a [parser](https://github.com/wooorm/parse-english/blob/master/index.js) (plus also some edge cases where certain initi

[2015-09-11 14:35] montogeek commented on #14
I can contribute to Spanish, but I dont know how exactly.

[2015-09-11 14:35] wooorm commented on #33
Thanks @jdalton, I agree with you! Alex isn’t as smart as a human, but it tries its best and is sometimes overly happy to let you know something **may** be insensitive.

[2015-09-11 14:44] wooorm commented on #14
Take a look at the link [above](https://github.com/wooorm/retext-equality/tree/master/script), those can be quite literally translated! Note that there’s of course a difference in languages: most translations shouldn’t be made literally, plus there might be new additions for other languages, and removals too!

[2015-09-11 14:52] Far0s commented on #14
I will try to take a look this weekend at translating retext-equality in French :smile:

[2015-09-11 14:55] wooorm commented on #14
Wow that’s so cool! :+1:

[2015-09-11 14:57] montogeek commented on #14
I think I can work on it this weekend too

[2015-09-11 14:58] wooorm commented on #14
Do ping me for help!

[2015-09-11 18:01] vancetran opened #34 "Suggestion: add "retard" and "retarded""
http://www.r-word.org/

[2015-09-11 18:03] sindresorhus commented on #34
:+1:

[2015-09-11 19:52] keoghpe opened #35 "Feature Request: Slack Integration"
Someone should definitely make a bot for Slack that utilises this. Maybe I'll try sure.

[2015-09-11 20:00] sindresorhus commented on #35
:+1: Go ahead! :)

[2015-09-11 20:42] jdalton commented on #34
Redirect to https://github.com/wooorm/retext-equality/issues.

[2015-09-11 20:45] wooorm commented on #34
:+1: I’ll get to this somewhere tomorrow, if you’d like to get this in earlier you should PR!

[2015-09-11 20:55] keoghpe commented on #35
Simple but seems effective!

https://github.com/keoghpe/alex-slack

[2015-09-12 03:27] danielhickman commented on #32
I have some experience with Chrome extensions. I'll will take a look at the code and attempt when I have a chance.

[2015-09-12 07:56] wooorm commented on #32
@danielhickman Cool :+1:

[2015-09-12 08:54] #34 closed

[2015-09-12 10:14] wooorm commented on #22
@evaryont Thanks for the list. I peered through it, but found no words relating to “insensitive” and “inconsiderate” words. They all seem to be relating to being deemed “inaccurate” in the psychological and psychiatric fields.

I may have missed some, but I don’t think alex is the place for these suggestions, therefore I decline this issue. If you do not agree and think some of these words should

[2015-09-12 10:14] #22 closed

[2015-09-12 10:49] #35 closed

[2015-09-12 13:27] #15 closed

[2015-09-12 13:46] #21 closed

[2015-09-13 12:20] #19 closed

[2015-09-13 12:22] wooorm commented on #19
See the commit message for more info, new sources and notes can be added to retext-equality, similar to  [this](https://github.com/wooorm/retext-equality/blob/e564c4ae22d68920c201972054226038f2b953fe/script/ablist.yml#L12-L13).

[2015-09-13 12:31] pjf commented on #19
You totally rock! Thank you! :)

[2015-09-13 12:34] wooorm commented on #19
Thanks :) It’s not too beautiful right now though. I’d rather not implement a text-wrapping algorithm, however, maybe everything could be indented by two spaces or so? Or a line after the note?

![screen shot 2015-09-13 at 2 14 01 p m](https://cloud.githubusercontent.com/assets/944406/9836723/5b63f400-5a24-11e5-9a0e-cfa73e8e8131.png)

[2015-09-13 13:16] #26 closed

[2015-09-13 13:16] #28 closed

[2015-09-13 13:17] wooorm commented on #26
I opted not to introduce your suggestions. Thanks a lot, but they are “profane” words: there’s no argueing that they shouldn’t be used when you want to write “sensitive” and “considerate”.

[2015-09-13 17:15] rugk commented on #26
Okay. I would just say that `cribble` is also profane IMO.

[2015-09-14 02:29] JacksonGariety opened #37 "favors some polarizing universals over others"
In its current form, Alex seems to primarily catch gender and race unipositivity. Thus, Alex is violating its primary goal goal: `catch insensitive, inconsiderate writing` by being inconsiderate of other struggles which may not be properly represented in the programming community.

Some examples of under-represented struggles: `class struggle`, `national struggle`, `species struggle`, `intra-speci

[2015-09-14 03:45] capitocapito opened #38 "Suicide-related terms"
"Committed suicide" tends to be the norm when referring to the act, but it can have [broader negative connotations](https://www.psychology.org.au/Content.aspx?ID=5048). Maybe we should have Alex suggest newer phrasings such as "died by suicide."

If approved, I can/would like to add the terms. (I'm getting my feet wet with Github.)

[More reading on Wikipedia](https://www.psychology.org.au/Content

[2015-09-14 03:50] capitocapito commented on #37
Joking aside, I wonder if adding some sort of categories or tagging structure to the data might help. Users could instruct Alex to ignore or add specific lists related to their project.

[2015-09-14 07:05] JacksonGariety commented on #38
@capitocapito this is an interesting moral issue with many moving part.

Let's start from the position that a someone who dies by suicide is not a criminal and has not committed a crime. Rather, their death was the result of illness.

So we can say that they are a victim of depression. However, once someone is dead, they aren't anything. Rather, they simply are *not*. So we may call them a victim,

[2015-09-14 07:15] JacksonGariety commented on #38
@capitocapito from your article:

*The word ‘commit’ is commonly used in connection with religious offences. Indeed suicide is considered wrong in many religions (Cholbi, 2009). Over time suicide has been regarded as a cardinal sin in some religions and is still often considered a moral sin.*

I think it important to recognize the role the concept of God plays in preventing suicide. Though I don't

[2015-09-14 07:56] john-adamson opened #39 "'Banana' identified as 'Chinese person'/'Asian person'"
In the online demo I typed `Banana Man is a superhero` and it highlighted `Banana` with the comment `Banana may be insensitive, use Chinese person, Asian person instead`.  I was expecting it to highlight `Man`...

[2015-09-14 08:27] JacksonGariety commented on #39
well, bananas are yellow

[2015-09-14 08:40] wooorm commented on #39
https://en.wikipedia.org/wiki/List_of_ethnic_slurs#b

[2015-09-14 08:40] #39 closed

[2015-09-14 08:41] #37 closed

[2015-09-14 08:44] john-adamson commented on #39
Well, I can say I'm glad to be ignorant of that slur!

[2015-09-14 08:51] wooorm commented on #39
😉 Not everything alex highlights can be used directly, however, they might make you think of looking for alternatives!

[2015-09-14 08:56] wooorm commented on #38
I’m fine with the addition. I’d like to help you create [your first PR](https://twitter.com/yourfirstpr). Are you experienced with node? Basically, you have to add the words to patterns in [retext-equality](https://github.com/wooorm/retext-equality/tree/master/script).

[2015-09-14 09:01] JacksonGariety opened #40 "package description"
I think this repo is tremendously interesting from a variety of points of view: psychological, semiotical, cybernetical, and philosophical! However, is it not less of a profanity checker and more of an inventory of ideological biases held or recognized by you, @wooorm?

An example: Alex "suggests" that `that's an illegal thing to do` might be changed to: `that's a Mexican thing to do`

I suggest (

[2015-09-14 10:31] wooorm commented on #40
I don’t agree. Other people don’t either. In addition, I don’t hide that I am the original author behind some organization, Further, everyone is able to contribute. They have already done so.

Alex is _not_ an insult to “poetics of life”, just like spelling-control is not an insult to grammar.

[2015-09-14 10:31] #40 closed

[2015-09-14 13:41] wooorm opened #41 "LGBTQ terms"
“@wooorm #alexjs don't forget LGBTQ terms! @glaad has some good references: hrld.li/1QAdH1x hrld.li/1Oq07Pj”

https://twitter.com/waphle/status/643418533716606977

[2015-09-14 15:23] capitocapito commented on #38
@wooorm I'm not very experienced, but I'm familiar and I get the basics. I'll add it soon. :)

[2015-09-14 15:24] capitocapito commented on #41
Love it. If I get the chance, I'll try to add this to my to-do.

[2015-09-14 15:25] wooorm commented on #41
:+1:

[2015-09-14 21:00] sean-roberts commented on #32
Yep I am all about seeing an extension come to life with this

[2015-09-15 10:25] wooorm commented on #32
@sean-roberts Cool! :+1:

@danielhickman were you able to investigate this?

[2015-09-15 11:17] neko opened #42 "he/she and it"
Pretty sure I'd find it more offensive if someone were to call me an "it" as opposed to a "he" or a "she".

[2015-09-15 11:26] neko commented on #42
Some context:
![image](https://cloud.githubusercontent.com/assets/6992756/9875322/31257730-5bec-11e5-8921-922ca61245cc.png)

[2015-09-15 11:37] wooorm commented on #42
I would say that “it” works well for Harry the Worm though?

In all seriousness, you are right. If you have another suggestion, please share.
Regarding that, `they` and `it` are merely suggestions. Most importantly, they work well
with technical writing as seen on GitHub, but not as much for fiction / stories.
Also: alex just highlights some points of interest. Authors should just see them that wa

[2015-09-15 11:37] #42 closed

[2015-09-16 04:15] danielhickman commented on #32
It might take me a while. I'm fairly new.

On Tue, Sep 15, 2015, 3:25 AM Titus Wormer <notifications@github.com> wrote:

[2015-09-16 08:26] wooorm commented on #32
Okay, no problem. I’m not sure what “a while” means, I’m guessing others can also try their had at making an extension?

[2015-09-16 14:25] danielhickman commented on #32
Apologies for being vague. Do you have an idea on how you'd like it to operate?
Should it:
- The extension and bookmarklet act the same?
- Query the whole page and open that in a new panel window
- Query `contentEditable` and inputs
- See what page is open and perform a different task?

I can try to do all of these, but it'd take me a while to get settings working correctly in a Chrome Extension.

[2015-09-16 15:06] danielhickman commented on #32
After looking into the bookmarklet, Alex itself has more than 11 lines for every character allowed in Chrome's bookmarklets. So I had to use something like this instead:
[code]
Which doesn't work on everything from GitHub to Gmail because of the uber popular Content Security Policy directive regarding the sources of scripts loaded.

So it doesn't look easy to get it working in a bookmarklet. There

[2015-09-16 15:45] wooorm commented on #32
@danielhickman Cool, thanks for taking the time to look into it!

*   I don’t really care about a bookmarklet myself. I think extensions would be easiest;
*   I suggest looking at the selected text and running that through alex;

Did you say you have experience with Chrome Extensions? Also, I’d suggest using npm and browserify or duo as a driver for the repo of the extension. Are you experienced w

[2015-09-16 16:14] danielhickman commented on #32
I've used node and npm but not browserify duo and not experienced with any of them. There is a simple solution which is a webhook to a script on a server (I can have it set up in a minute or two on mine) that auto updates it (and allows the Webstore to use that as the update). I'm assuming npm would work somewhat like that too.

Anyways, I have a Chrome dummy extension that has a local copy of Ale

[2015-09-16 18:26] wooorm commented on #32
Nice! Looking forward to when you’ve got that covered. Make sure to ping me if you need help :)

[2015-09-16 18:28] sean-roberts commented on #32
I have experience making extensions as well. I agree though, npm / commonJS including Alex.JS would make it easier to maintain what version is supported and keeps it more explicit. Also, hosting it on another server would incur the http call for loading the library in. As we know, the fastest request is one we don't have to make, so including the library with your extension code would make more se

[2015-09-16 18:29] wooorm commented on #32
@sean-roberts :+1:

[2015-09-16 19:59] danielhickman commented on #32
@sean-roberts I'm not sure how npm works with Chrome extensions. Does it work with ones hosted on the Chrome webstore?

[2015-09-16 21:26] sean-roberts commented on #32
So really what I was saying is use npm as a your package management and use something like browserify in your build process to pull in your dependent modules -- in this case, Alex.JS.

[2015-09-16 23:26] meetbryce commented on #32
Also, hosting it on a server could potentially end up being a bottleneck if
this thing gets super popular - which I think is totally possible.

So excited to see this come to life!
On Thu, 17 Sep 2015 at 7:26 am, Sean Roberts <notifications@github.com>
wrote:

--
Cheers,
Bryce York

[2015-09-17 07:12] danielhickman commented on #32
Do you mean using the `updateurl` in the manifest would create a bottle neck?

[2015-09-17 07:41] meetbryce commented on #32
I meant having the code hosting on a remote server rather than on the users
local machine, sorry.

Just considering someone would need to manage hosting if they chose to go
that route.
On Thu, 17 Sep 2015 at 5:12 PM, Daniel Hickman <notifications@github.com>
wrote:

--
Cheers,
Bryce York

[2015-09-19 00:13] danielhickman opened #43 "Disappearing Issues"
Type `he she` into the demo and you will receive `he` as an issue before you type `she` but finishing `she` makes both disappear. Is this because of `he/she`?
![image](https://cloud.githubusercontent.com/assets/5341898/9973469/3c3a9e50-5e28-11e5-8007-0a537602021e.png)

[2015-09-19 00:20] danielhickman commented on #32
I've done a lot of work on the Chrome extension. It's fully functional and uses your selected text or inputted text (like the demo on alexjs.com). I've used similar code too. I'm working on the overlay on the input (I used a div with contenteditable instead of and textarea because of the overlay that has a few visual bugs (will make issues for them).

I'm also don't know exactly what #43 is caused

[2015-09-19 01:42] danielhickman commented on #38
I'm all for it since it's merely a warning. I think regardless of the right or religious stuff, it's nice to make sure you don't make it feel like a crime when someone it morning about it.

Sounds much worse than (in my opinion):

[2015-09-19 07:13] wooorm commented on #38
@danielhickman Thanks for the feedback! Did you know that we are already working on a PR? wooorm/retext-equality#3

[2015-09-19 07:17] wooorm commented on #43
@danielhickman I don’t think `he she` is actually used in real language, so I’m not sure that this is a bug?

The reason for this is that `or` patterns, as used internally by retext-equality, do not trigger a warning when occurring adjacent to each other ([optionally joined by `white-space` and `and` or `or`](https://github.com/wooorm/retext-equality/blob/e564c4ae22d68920c201972054226038f2b953fe/l

[2015-09-19 07:17] #43 closed

[2015-09-19 07:25] wooorm commented on #32
@danielhickman Great to hear its working! Have you pushed to `danielhickman/Alex-Chrome-Extension`? The reason for asking is because the docs are pretty “minimal”. I’d like to make it really easy for people to download the extension, so I’d prefer to update the docs.

For a Chrome Extension example, check out [github-linker](https://github.com/github-linker/chrome-extension)’s chrome extension. Fo

[2015-09-19 14:06] danielhickman commented on #32
@wooorm Haven't pushed docs yet. I've been trying to finish up the look first. :smile:

[2015-09-19 14:08] danielhickman commented on #38
@wooorm Yup I saw it. I just wanted to add my two cents.

[2015-09-19 14:09] wooorm commented on #38
Cool!

[2015-09-19 14:09] wooorm commented on #32
Okay, awesome, let me know if you need my opinion on things :)

[2015-09-19 14:09] danielhickman commented on #43
Oh okay that is a cool feature! I used he or she in testing my extension and thought it was a bug.

[2015-09-19 14:11] wooorm commented on #43
Nah 😉

[2015-09-20 02:56] danielhickman commented on #32
@wooorm @meetbryce I have completed it with exception of it auto updating alex.js and the issue highlight.

I welcome any feedback :smile:

Download: https://github.com/danielhickman/Alex-Chrome-Extension/releases/tag/v0.1

[2015-09-20 08:40] wooorm commented on #32
@danielhickman Oh wow that looks wonderful! Works very well too!

![screen shot 2015-09-20 at 10 24 18 a m](https://cloud.githubusercontent.com/assets/944406/9979842/cbecc5dc-5f81-11e5-8117-c5292d88ad88.png)

Congrats on the work. It’s so awesome :smile:

Some minor nitpicks:

*   The headings in the licenses list are a bit funky (e.g., `Javscript & CSS`), maybe the can be omitted, or
    less obt

[2015-09-20 08:51] sindresorhus commented on #32
Actually: `JavaScript & CSS;`

-

Looks good, though I was hoping for something that integrated with any `<textarea>`. That way I could have it run directly when writing comments on GitHub and other websites. Like the [Grammarly](https://chrome.google.com/webstore/detail/grammarly-spell-checker-g/kbfnbcaeplbcioakkpcpgfkobkghlhen?hl=en) and [Markdown Here](http://markdown-here.com/) Chrome extensio

[2015-09-20 08:52] wooorm commented on #32
@sindresorhus Oh whoops, your right :grimacing:

[2015-09-20 09:01] wooorm commented on #32
@sindresorhus @danielhickman Didn’t know about Grammarly before. Basically, it places a counter on a textarea and pulls writing through the program, displaying the number of issues. Then, you can click on that counter to open up an editor (like the `Alex` panel). That could work here too!

[2015-09-20 09:07] sindresorhus commented on #32
@wooorm It also marks words inline in the textarea.

[2015-09-20 09:15] wooorm commented on #32
@sindresorhus I couldn’t get that to work on GitHub, I can on Gmail though. Maybe it only works for content-editable-type input? Interesting :)

[2015-09-20 09:29] sindresorhus commented on #32
@wooorm It used to highlight the words on GitHub, but that stopped working some weeks ago. It still does show a popup if you hover over an incorrect word, though.

[2015-09-20 16:17] danielhickman commented on #32
@wooorm

-Javscript & CSS > Javascript & CSS;
-There’s a little more spacing under the Issues block than there is on the sides, I’d go for the same size on every side if possible!
-It’s a bit weird that the caret starts at the beginning of the selected text (|We’ve confirmed... instead of ...his identity|)
-Maybe rename AlexJS in the hamburger menu to Website (that way people know where they’re go

[2015-09-20 16:27] danielhickman commented on #32
Oh my. I looked at Grammarly's source code, it's 53,000 lines long.

[2015-09-20 18:27] danielhickman commented on #32
Unlisted Chrome webstore version: https://chrome.google.com/webstore/detail/odeagamimaijfiaeikecldjjajfapmmb

[2015-09-20 18:40] wooorm commented on #32
@danielhickman I get an error when clicking that link;

1.
2.
3. I meant outside the blocks, between the blocks and the modal;
4. Here: ![screen shot 2015-09-20 at 8 31 45 p m](https://cloud.githubusercontent.com/assets/944406/9982279/ab6ecf44-5fd6-11e5-8b51-27e3e6a2f2b6.png)
5.
6. Both :)
7. I meant don’t list the license next to the author, just in the button bar of the blocks, and instead of ha

[2015-09-20 18:41] wooorm commented on #32
Oh now the link comes through :)

[2015-09-20 20:26] chrisopedia opened #44 "Vim Syntastic Plugin"
I'm trying to write a ViM [syntastic checker](https://github.com/scrooloose/syntastic/wiki/Syntax-Checker-Guide) for Alex and running into some problems with the outputted format.  Is possible to adjust the output to make it friendlier for bash and vim?

My suggestion would would mean formatting it something more akin to this:

[code]

instead of this:

[code]

**Note:** this means removing the fi

[2015-09-20 23:41] danielhickman commented on #32
@wooorm
1.
2.
3. I'm trying to stay as close to Material Design as I can without using their tools, so the 8px each side of the cards is what I'd like. (I'm using 1px = 1dp)
4. I still don't see that with any version. Is the caret there for you when you first open the extension? I didn't make it focus on run (I've disabled that until I fix the highlight) :confused: Also, I see "No issues!" when th

[2015-09-21 00:59] meetbryce commented on #32
Just an idea, but if you make the background color a light gray color (eg
#f2f2f2) it might look a little more natural.
Cheers,
Bryce York

On Mon, Sep 21, 2015 at 9:41 AM Daniel Hickman <notifications@github.com> wrote:
@wooorm
1.
2.
3. I'm trying to stay as close to Material Design as I can without using their
tools, so the 8px each side of the cards is what I'd like. (I'm using 1px = 1dp)
4. I

[2015-09-21 01:02] meetbryce commented on #32
Sorry to double email, but is it possible to have the placeholder text actually
be placeholder text?
Cheers,
Bryce York

On Mon, Sep 21, 2015 at 10:59 AM Bryce York <bryce@meetbryce.com> wrote:
Just an idea, but if you make the background color a light gray color (eg
#f2f2f2) it might look a little more natural.
Cheers,
Bryce York

On Mon, Sep 21, 2015 at 9:41 AM Daniel Hickman < notifications@git

[2015-09-21 05:25] sindresorhus commented on #44
I don't see why you need the output to change. You can just use a super simple regex: https://github.com/sindresorhus/SublimeLinter-contrib-alex/blob/8ef58610c816130794fde02e7be4cddb8d6ad089/linter.py#L21

[2015-09-21 06:51] wooorm commented on #44
@chrisopedia I agree w/ @sindresorhus on this; and I’d rather not change how this works on the CLI (you can also use the API for more fine-grained control)

If that regex doesn’t do the trick, please re-open the issue.

P.S. AWESOME that you’re making a Vim plugin!

[2015-09-21 06:51] #44 closed

[2015-09-21 15:58] wooorm commented on #32
@danielhickman Sorry for the late response!

1.
2.
3. I think I’m having trouble getting my point across, I’m talking about the fact that in the below image the green line should be equal in length to the red line:
    ![screen](https://cloud.githubusercontent.com/assets/944406/9996819/337921f2-6089-11e5-8162-40640a1d6417.png)
4. “No issues” is indeed because of the sample text; here’s a screensho

[2015-09-22 20:21] SalomonSmeke commented on #14
I can help with Spanish. Natively bilingual Spanish + English. I'll look at the links above when I can :)

[2015-09-22 20:37] wooorm commented on #14
@SalomonSmeke Cool! Ping me for help! 😄

[2015-09-24 23:45] danielhickman commented on #32
@wooorm
I've had "No issues!" in the code before I released it. I added some extra spacing to it just now (not shown in picture).
See: https://cloud.githubusercontent.com/assets/5341898/9981584/ea5d934a-5f75-11e5-9b62-20841e21fe9e.png

I've not been able to add much to it the past few days, pull requests welcome.

[2015-09-25 06:42] lcd047 commented on #44
The error format is unnecessarily complicated to parse (since the meaning of an error line depends on other lines before it), but it's perfectly usable.

There are however three problems that are show stoppers.

First, Vim's `system()` runs programs with `stdin` closed, and `alex` [doesn't expect that](https://github.com/wooorm/alex/blob/d9046a40e7338cb08159ea977bdb3e9b84a2d7cf/cli.js#L33):
[code]

[2015-09-25 06:51] sindresorhus commented on #44
How exactly is it complicated? How does it depend on the line before it? It was straight forward for me to write a [regex](https://github.com/sindresorhus/SublimeLinter-contrib-alex/blob/8ef58610c816130794fde02e7be4cddb8d6ad089/linter.py#L21) for it. Literally took minutes. Syntastic might differ though.

:+1: That's how I usually do it.

:-1: `--version` should IMHO be a clean version. You can us

[2015-09-25 09:55] lcd047 commented on #44
The filenames.  When you see an error line
[code]
you can't tell what file it refers to.  You have to keep track of filenames separately.  Not a _problem_, but still more complicated than it could have been.

Vim uses a `scanf()`-like system named `errorformat`.  In retrospect, things would have been a lot easier for everybody if syntastic used plain regexps instead, but the `errorformat` thing is

[2015-09-25 11:55] wooorm commented on #32
@danielhickman Cool, I’ll try to look into it over the weekend :+1:

[2015-09-25 12:11] wooorm opened #45 "Give precedence to `files` on alex(1) instead of checking for stdin(4)"
Original: https://github.com/wooorm/alex/issues/44#issuecomment-143142851

[2015-09-25 12:19] wooorm commented on #44
@lcd047 Thanks for the questions, interested in seeing it!

The error format is meant for humans, that’s why it focusses more on looking nice to humans instead of looking nice for computers. If @sindresorhus’s regex doesn’t do the trick, you could also write a script to interact with [alex(3)](https://github.com/wooorm/alex#api) directly instead of [alex(1)](https://github.com/wooorm/alex#command-

[2015-09-25 16:10] lcd047 commented on #44
Never mind, it's just a detail.  Error parsing already works fine.

I don't, but Vim's error parsing insists on having a filename with each error.  If I can't get it from the output of a checker, I have to supply it some other way.  Like I said, it's a detail.

Thank you.

I never said anything about an `alexis` (not intentionally anyway).

Because the Haskell package also has a binary named `alex

[2015-09-25 16:31] wooorm commented on #44
Sorry, auto-correct, that should’ve been “alexjs” (with a J, hope it gets it right this time :wink:)

I can imagine that would fail horribly haha, but, back to what I was trying to say, does *this* alex need to be in the `$PATH`? Is it necessary to look  in the `$PATH` for alex? Or, can you work around that and use a relative or absolute path?

[2015-09-25 16:34] wooorm commented on #44
Whoops, commented too early. Your other points:

I’m not sure if that’s really a “show stopper”, as you described earlier, how many people really have that in their documents? Anyway, I don’t really mind adding this in the future though, but I think markdown as a base is a really good default, even for most plain-text and other non-markdown files. I think I’m worried that you’re setting it as a de

[2015-09-25 17:07] lcd047 commented on #44
It doesn't _have_ to be in the `$PATH`.  I could make the checker require users to set the absolute path.  But that would make it unlike the other 187 existing checkers.  As for trying to detect where `alex` lives outside of `$PATH`, I really don't want to go there.  Vim runs on a lot of OSes, from Commodore Amiga (should any of it still work in 2015), to VAX VMS, to the latest Mac OS-X, and each

[2015-09-26 14:11] wooorm commented on #44
@lcd047 This probably stems from my unfamiliarity with Vim plug-ins, but can’t you install `alex` locally? It seems like what you’re trying to tell me is that `alex` must be installed by the user? Even if there’s a difference in file-structure across OSes, `node_modules/.bin/alex` still works right?

Sorry, I didn’t get my point across clearly: I think that even plain-text benefits from being proc

[2015-09-28 07:53] lcd047 commented on #44
I'm afraid the time I can afford to spend negotiating this is running out.  Thus, sadly, a checker for `alex` won't be part of syntastic.  Fortunately, such a checker (should anybody write a working one) can also be maintained [externally](https://github.com/scrooloose/syntastic/wiki/Syntax-Checker-Guide#external).  General directions for writing syntastic checkers are given in the relevant [wiki

[2015-09-28 16:12] howardroark commented on #40
Would you concede that you are likely to be unaware of your own ideological bias?

[2015-09-28 21:34] howardroark commented on #23
To be fair there is a slippery slope at play here.  The slack-bot listed in the README is sort of walking down the path towards censorship.  Who is to say that you don't wake up tomorrow to find a bot scanning all of GitHub and pointing out all of the people who are in violation of these conditions.  Maybe it ranks everyone with a score of how sensitive or insensitive they are and labels it along

[2015-09-29 06:52] nukeop commented on #23
"Compassion"? For what? You don't seriously think this kind of passive aggressive bullying towards self-censorship can be beneficial in any way, do you?

[2015-09-29 10:19] wooorm commented on #23
@howardroark I respect your opinion but do not agree. alex was intended for people who’d like their own text to be sensitive and considerate towards others (IMO “self-censorship” is not a bad word).

Please, instead of commenting on every issue, open an issue to voice your concerns. But, only do so when I can act on it: the concerns you name are an infinite philosophical debate, probably better di

[2015-10-07 00:21] gsvolt commented on #14
Hey @wooorm, I was curious.. would it be cool to work on supporting languages like hindi? I know google translate handles hindi - but I really don't know your code base that well to know if any changes I make will work or not. I do know hindi and I'm pretty sure A LOT of Indians will appreciate alex.js I can read and write Arabic as well (but sadly cannot understand it) - with Arabic it'll have to

[2015-10-07 01:54] SalomonSmeke commented on #14
I've been working on this in Spanish. And its tough. You did a great job in
English and its hard because many of those words aren't colloquially
equivalent to anything in Mexican Spanish. I'm even wondering if its
prudent to make "Spanish - mexico" variants.
On Oct 6, 2015 7:21 PM, "gsvolt" <notifications@github.com> wrote:

[2015-10-07 03:36] ixti commented on #33
I guess it was overexcited today for the company I work for, and actually made REALLY terribly offensive proposal:

![20151007_05 24 53_selection 001_39c2](https://cloud.githubusercontent.com/assets/94782/10328366/f7ead658-6cb3-11e5-95e9-d213e6a3c396.png)

PLEASE REMOVE IT!!! THAT'S NOT F**KING APPROPRIATE AT ALL!

[2015-10-07 04:56] montogeek commented on #14
@SalomonSmeke What if we create an standart/neutral Spanish version?

[2015-10-07 08:36] wooorm commented on #14
@gsvolt Wow, awesome. Great to hear. Please see my first comment above (https://github.com/wooorm/alex/issues/14#issuecomment-137497986) for more information. The fact that hindi isn’t Latin-script makes it a bit harder though.

[2015-10-07 08:40] wooorm commented on #14
@SalomonSmeke @montogeek Cool. I’m not familiar with the differences between Mexican Spanish and Spanish, so I don’t thing I can correctly advise relating to the language. However, it seems like both could be useful, a “standard” Spanish version and a Mexican Spanish version.

Note that a Mexican Spanish plugin could itself “depend” on the “standard” Spanish plugin, so there’s no need to copy code

[2015-10-07 08:57] wooorm commented on #33
@ixti I can see how the bot seems offensive here. However, “pancake face” is an actual ethnic slur (according to [WikiPedia](https://en.wikipedia.org/wiki/List_of_ethnic_slurs#P)). Therefore, I think alex is operating according to its byline, “Catch insensitive, inconsiderate writing”, by warning about it.

Please open a new issue with more information if you’d like to discuss this further, or dis

[2015-10-07 09:13] wooorm opened #46 "Profanities"
Currently, alex mostly checks for words which may or may not be deemed “inconsiderate” in certain contexts. I added racial terms a month ago, which started moving away from *possibly inconsiderate* to *clearly profane*.

Now, I’m thinking (and others have requested this too) of adding other [profanities](https://github.com/wooorm/profanities).

The best point _for_ this is that people (often not f

[2015-10-07 12:12] SalomonSmeke commented on #14
Well... Defining neutral Spanish is difficult. And if you do. There no
slang. And most of these terms are non existent. Which makes alex in
"neutral Spanish" less useful
On Oct 6, 2015 11:56 PM, "Fernando Montoya" <notifications@github.com>
wrote:

[2015-10-07 13:45] yoshuawuyts commented on #46
I think it should catch profanities, possibly under a flag to start with. If we want to warn about possibly insensitive writing slurs are part of it.

[2015-10-07 13:59] yoshuawuyts commented on #33
@ixti Welp, covering all possible contexts of a slur is hard. It correctly caught "pancake face" as being used as a derogatory term; the suggestion could probably use some work though. Could you clarify in what context it was used so we can add an appropriate suggestion?

Also: I understand that you're upset, but please refrain from dropping all-caps f-bombs in issues. Everyone involved with Alex

[2015-10-07 15:46] alexgleason opened #47 "Consider separating data into separate files or using a database."
alex.js contains so many lines of code it takes around 5 minutes to buffer in Atom text editor. It could be useful to separate the data into a directory of .json files, or consider switching to some form of database technology.

[2015-10-07 15:50] wooorm commented on #47
That’s already in place, @alexgleason. `alex.js` is a compiled version of a lot of different Node modules, compiled using Browserify, for the browser. I recommend you browse `index.js` and `lib/**/*.js` files of all the different modules instead of trying to open the compiled file instead.

[2015-10-07 15:50] #47 closed

[2015-10-07 15:53] alexgleason commented on #47
Thanks for clarifying!

[2015-10-07 15:54] wooorm commented on #47
:+1:

[2015-10-07 16:00] wooorm commented on #46
Thanks @yoshuawuyts!

Friendly ping: @sindresorhus, @pjf, @Charlotteis, would love your feedback on this :+1:

[2015-10-07 16:00] wooorm commented on #26
@rugk These terms might be introduced after-all by GH-46!

[2015-10-07 17:37] ixti commented on #33
I was probably a bit over-raged. Sorry guys. It's not issue with alex - it's issue with integration (chat bot). Feel free to delete my comments here, as they are really not about alex but about chat bot that uses alex.

[2015-10-07 17:44] ixti commented on #33
I apologize for my pretty rude and aggressive comment before (deleted it myself).
In that particular case issue was definitely not with alex but with integration itself.

[2015-10-07 17:47] #45 closed

[2015-10-07 17:48] wooorm commented on #33
Thanks for being so considerate @ixti :smile:

[2015-10-07 19:52] alexgleason opened #49 "Easily check source code through CLI"
I'd like to scan a source code directory as plain-text files. I'd expect `alex **/*` or `alex -R .` to work but they don't.

[2015-10-07 19:55] alexgleason commented on #46
I mainly want this to make sure there's nothing insensitive in my source code written by other developers. Programmers are the more likely culprits than copywriters for this, and it's more easily obfuscated. (Related: #49)

[2015-10-08 09:07] wooorm commented on #49
Yup, I’m all for this :+1:

[2015-10-09 10:22] wooorm commented on #46
Thanks @alexgleason :+1:

[2015-10-09 10:34] Charlotteis commented on #46
When you get a large project, contributed to by 10s-100s of developers you'll probably get something profane slipped in, maybe because they were frustrated at the time. See [twitter.com/gitlost](http://twitter.com/gitlost) for the sheer amount developers will swear in git commit messages alone :smile:

Great point on the historical texts too.
I think @yoshuawuyts has the right idea with offering i

[2015-10-09 10:38] wooorm commented on #46
Thanks for the points @Charlotteis! :ok_hand:

[2015-10-09 14:49] sindresorhus commented on #46
:+1: I think it's a good idea and should be on by default. Profanities are inconsiderate too. I want to ensure my docs to be profanity-free.

[2015-10-10 08:04] pjf commented on #46
If profanity is a separate switch one can enable and disable, then I'm all for it. Features are great, and from the discussion thus far we'd have users that would find it useful.

If profanity checking isn't something the user can turn off, then I'm not a big fan. I *definitely* want alex to be able to find slurs and language that is offensive towards particular people, but neutral profanities are

[2015-10-11 13:06] wooorm commented on #46
Okay, sounds good. Thanks all for the feedback!

I’ll work on creating retext-profanity (probably based on [wooorm/profanities](https://github.com/wooorm/profanities)), externalised because it’s quite different from retext-equality.

Then, I’ll add support for a new flag to the CLI (`-p`, `--profanities`?) and an option to the API, to include profanities.

[2015-10-13 13:53] Charlotteis commented on #46
`--profanities` is good because it's explicit. But you could alias `-p`. Use `--profanities` in the docs, but let people know they can use `-p` too? :)

[2015-10-13 15:02] wooorm commented on #46
@Charlotteis Yeah I was indeed thinking of using both! :wink:

[2015-10-14 15:23] suisea opened #51 "Suggestion: add…"
stupid
mute
idiot

[2015-10-14 15:41] yoshuawuyts commented on #51
Could you add some context to your suggestions? Thanks.

[2015-10-14 16:00] suisea commented on #51
here you go! http://www.autistichoya.com/p/ableist-words-and-terms-to-avoid.html

sorry, i think i meant dumb instead of mute. and "*d*ot" has a medical etymology and as a result, used pejoratively, is a slur.

[2015-10-14 17:12] wooorm commented on #51
Thanks @suisea, but these were added in wooorm/retext-equality@b5fd7bf019a4eb4a3f0120038d759bf0d95779b6, which was included in e5507626fa47427515758dfd7af0dd7f985749e5!

[2015-10-14 17:12] #51 closed

[2015-10-14 17:16] suisea commented on #51
oh okay, for some reason they didn't show up on the alexjs.com site! @wooorm

[2015-10-14 18:12] wooorm commented on #51
Done in 3527fb81e261ac601d352a2e99fc175aa60941c2!

[2015-10-16 16:20] alexgleason opened #52 "Include "errors""
Just an idea I wanted to throw out there. Many of these phrases can cause false positive #33, such as "hosts", or the context in which the word is used matters.

I like that the phrasing is "xxx **may be** insensitive", because that accounts for this. And it makes sense for these words or phrases to return warnings.

However, some words are always insensitive just due to the nature of the word its

[2015-10-16 16:23] alexgleason commented on #18
Can it work the same way as spell check in Microsoft Word?

Your options are, when it finds a particular error, to "Ignore this instance" and "Ignore all".

Since many of these false positives are contextual, it makes sense to allow them on a case-by-case basis rather than allowing one word entirely then risk it being used badly in the future.

[2015-10-16 21:24] danielhickman commented on #28
I was working on a `contenteditable` version of the input method. I ran into a few issues, but it can be done.

My progress is in my Alex extension, commented out.

[2015-10-16 22:57] mxlje opened #53 "CLI only shows that there are warnings but not the reasons"
I feel like I’m missing something very obvious here. I installed alex globally through npm (as instructed) and I can run it normally, so there is no error message.

When I give it a file that contains offenses it only says that it found warnings, but not what the actual problem is. Example:

The file `test.md` contains the example string from the README:

[code]

![mmtest zsh 2015-10-16 18-53-08](

[2015-10-22 02:50] suchow opened #54 "Katsap is what Ukranians call Russians, not the other way around"
http://www.urbandictionary.com/define.php?term=Katsap

[2015-10-22 03:02] yoshuawuyts commented on #54
PRs are welcome (':

[2015-10-22 12:35] wooorm commented on #54
Thanks a lot @suchow!

[2015-10-22 12:35] wooorm commented on #54
Thanks a lot @suchow!

[2015-10-22 12:38] wooorm commented on #54
Sorry, thick fingers and small GH buttons :(

Could you create a PR?

Also: must've been a mistake by me when including the list of ethnic slurs from Wikipedia: https://en.m.wikipedia.org/wiki/List_of_ethnic_slurs

[2015-10-22 17:27] suchow commented on #54
How do you want this fixed? A new rule added, existing ones amended?

[2015-10-22 18:18] wooorm commented on #54
Thanks for the interest! I prefer an amended rule :+1:

[2015-10-22 18:45] suchow commented on #54
I don't see any rules that detect ethnic slurs against Russians, so I'm not sure how to do this via amendment other than to delete "katsap", but that seems less than ideal.

By the way, I'm a co-creator of `proselint` (http://proselint.com, w/ @michaelpacer & @laraross), an in-the-works linter for prose, and we have quite complementary goals in our projects. We should talk!

[2015-10-22 18:52] acousticrobot opened #56 "Suggestion: add…"
gypped => cheated
see: http://www.npr.org/sections/codeswitch/2013/12/30/242429836/why-being-gypped-hurts-the-roma-more-than-it-hurts-you

[2015-10-23 17:16] wooorm commented on #53
Thanks for reporting. Sorry about that! That should’ve been fixed [now](https://github.com/wooorm/vfile-reporter/issues/2). Could you check again by uninstalling and re-installing alex?

[2015-10-23 18:08] mxlje commented on #53
Thanks a lot, it works now 🎉

[2015-10-23 18:10] #53 closed

[2015-10-23 18:42] wooorm commented on #53
Great! Thanks!

[2015-10-24 07:24] #54 closed

[2015-10-24 13:29] #56 closed

[2015-10-24 19:32] wooorm commented on #52
Thanks for the idea @alexgleason, I agree.

I’m pretty sure all derogatory terms for [people of colour](https://github.com/wooorm/retext-equality/blob/42bf0555242316552cf4171c962af6014b451781/script/racial.yml#L414-L477) should all be called as what they are: an error.

However, not every pattern is that binary, e.g., [`armo`](https://github.com/wooorm/retext-equality/blob/42bf0555242316552cf4171c

[2015-10-31 14:15] #38 closed

[2015-10-31 14:15] #41 closed

[2015-11-10 21:20] wooorm commented on #49
Thanks for the interest, @samhogg. I don't have much time, but I'm slowly working to this.

I'll first create vfile-find-down as a separate module, to search for files. That should provide a solid (tested) Base for this. Additionally, my just released vfile-find-down will provide the file-findjg system for configuration files.

Of you're really interested in working on a PR for Alex, I suggest the

[2015-11-11 00:59] yoshuawuyts commented on #49
This could be useful for https://github.com/nodejs/diversity/issues/9

[2015-11-11 02:03] samhogg commented on #49
Oh right, that's an interesting approach, I didn't think of the config side - although I would've thought that would just be using existing approaches to find the config file. I was thinking of using something like [`node-glob`](https://github.com/isaacs/node-glob) to handle patterns similar to the patterns @alexgleason gave examples of.

[2015-11-11 09:07] wooorm commented on #49
@samhogg I did this (searching for configuration files upwards) with **mdast**, modelled after eslint. That ensures working in subdirectories still works as planned. And, additionally, cascading configuration files are possible (which is very cool :wink:).

node-glob, and globbing in general, is certainly useful. But you additionally need to search for files by extension for those globs to result

[2015-11-11 09:12] wooorm commented on #49
@yoshuawuyts Certainly!

I just came up with a possible alternative to use alex in CIs: just passing through additions.
That way, when alex highlights (causing the CI to fail) stuff but humans smarter than alex decide it’s to sensitive and still merge it in, next checks don’t cause those phrases to turn up again!?

Viable idea? Thoughts?

[2015-11-11 10:44] jden commented on #49
The diff-only approach sounds good to me.

Human language can be tricky. To me the value in alex is not 100% adherence (as it might be with things like code style linters), but in providing another layer of sensitivity checking. And because the feedback is automatic and coming from a tool rather than a person, it removes the element of ego, defensiveness and debate that sometimes is involved when

[2015-11-11 12:13] wooorm commented on #49
@jden :+1: About the globbing: not to fret, I’m sure that’ll be included (in fact, there’s already globbing in place, even for Windows).

About the diffing CI: We probably need a separate module which, when run on Travis and the like, passes the diffs through alex. I have no idea how that could be accomplished, or if similar things already exist. Anyone ideas?

[2015-11-11 16:04] samhogg commented on #49
Globbing works with extensions fine as far as I can tell? Or is there I am something I'm missing completely?

:+1: on the diffing idea, that's pretty smart. Would the approach be just checking additions relative to the last commit, or another branch?

[2015-11-11 16:43] wooorm commented on #49
@samhogg What you’re missing is, when someone uses `alex docs/`, the `.md` and `.txt` files must be passed to alex, not `.html` or `.png` files!

Re the diffing: I’m not sure, ideally, if someone PRs a branch (with several commits) onto `master`, all those commits must be checked. I’m not sure if it’s possible to just detect what has changed (on travis?) though :/

[2015-11-11 16:59] samhogg commented on #49
@wooorm with globbing I can do something like `alex docs/**/*.(md|txt)` which would do exactly what you want, and is a pretty common approach amongst node tools that I've seen.

In Travis/CircleCI you can access the git log, I guess it's whether you want it to be incremental on a commit by commit basis or diffing the entire branch (which could get messy)

[2015-11-11 22:01] jden commented on #49
A naive approach is just to pipe the git diff through alex. the following could be added to a .travis.yml:

    git diff -U0 HEAD^ | grep -ve '^-' | alex

this suppresses unchanged lines, filters out deletions, and pipes it to alex

[2015-11-13 08:55] wooorm opened #58 "CI integration"
Related: nodejs/inclusivity#9.
Related: GH-49.

This builds on thoughts previously posted elsewhere, for example:

(source: https://github.com/nodejs/inclusivity/issues/9#issuecomment-155759123)

I like this approach, the fact that a computer can fail a test, but a human can still merge it fits really well with alex.

I’m proposing a new module used specifically with CIs to test only additions.

S

[2015-11-13 08:55] wooorm commented on #49
@samhogg Certainly, it’s a start. But it doesn’t enable the second code example given by @alexgleason (on which I find very important).

@jden Nice, but we still need some parsing right (it might be my diff formatting but on my set-up that still includes funky lines). I had some luck with `git diff -U0 HEAD^ | awk '/^\+[^\+]/' | sed -r 's/^.//g'`, which reject lines not starting with `+`, and spit

[2015-11-13 17:59] jden commented on #58
proposed name `alex-diff`

[2015-11-17 07:48] nikgraf opened #59 "Allow to ignore folders like `node_modules`"
One you start doing this issue https://github.com/wooorm/alex/issues/49 it would be nice to allow ignoring whole directories.

[2015-11-17 07:58] wooorm commented on #59
Yes! And directories starting with a dot (like .git)!

[2015-11-19 12:16] #49 closed

[2015-11-19 12:16] #59 closed

[2015-11-19 13:13] c089 opened #60 "Find files outside of working directory"
Thank you for this helpful tool :heart_eyes_cat:

It fails to check files specified using the CLI though, while reading from STDIN works as expected:

[code]

[2015-11-19 13:34] #60 closed

[2015-11-19 13:37] wooorm commented on #60
Thanks for reporting, @c089!

[2015-11-19 14:03] c089 commented on #60
Thanks, that was fast :) Not sure this is my bug though, because it also fails from the same cwd, i.e. `cd /tmp && alex ./alex.txt`.

[2015-11-19 14:04] c089 commented on #60
...but 1.6.1 fixed both :) Thanks a lot.

[2015-11-19 14:05] wooorm commented on #60
Hmm, well, weird. Glad it’s fixed though :smile:

[2015-11-20 08:51] sils1297 opened #61 "Alex gives no output when using with stdin."
Probably related with https://github.com/wooorm/mdast/issues/90 .

Alex gives no output when using with stdin. Just installed with `npm install --global alex` and executed the example from your help page.

[code]

[2015-11-20 08:52] wooorm commented on #61
:(

[2015-11-20 08:57] sils1297 commented on #61
FWIW just executing `alex` on its own checks all files in my directory.

[2015-11-20 17:07] wooorm commented on #61
Hmm, it that case they might not be related after all. I just tried this, and couldn’t reproduce it at all. `alex < example.md` works perfectly for me. So does `echo "His network looks good" | alex`. Both with a clean install:

[code]

For some reason there seems to be something right with my system or wrong with yours. Could you try reproducing on another computer / set-up?

P.S., the same goes f

[2015-11-20 18:35] sils1297 commented on #61
On fedora:

[code]

[2015-11-20 18:40] sils1297 commented on #61
that's interesting, on arch:

[code]

[2015-11-20 20:54] wooorm commented on #61
Ah, that I can reproduce!

[code]

Now, I’m seeing an error when installing `alex` on node@0.10:

[code]

Which, I’m guessing, is exactly this problem you’re seeing.

To be honest, Node@0.10 is pretty “ancient”. So I’m not really interested in putting in the hours to get that working. Also: I confirmed alex is working as expected for node@0.12.

So, I hope this won’t conflict with your setup, but

[2015-11-20 20:54] #61 closed

[2015-11-20 21:24] sils1297 commented on #61
Sure, note that this is apparently the current node version on Fedora which is usually even newer than what's shipped on RHEL or SLES (Red Hat/Suse Enterprise Linuxes).

[2015-11-20 21:28] sils1297 commented on #61
Ubuntu and especially debian might linger also at that kind of versions. https://apps.fedoraproject.org/packages/nodejs , https://packages.debian.org/stable/nodejs

[2015-11-20 21:31] sils1297 commented on #61
That said, I can totally see you deciding against support for this but if it's not a lot of work it might be highly relevant for a lot of users, apparently.

[2015-11-20 21:36] wooorm commented on #61
Yeah, I can imagine. Getting it to work wouldn’t be very hard but it would mean [downgrading a dependency](https://github.com/sindresorhus/get-stdin/commit/385a9ce4b44e9311158d58de14e919b67f45b638), meaning it won’t get updates/fixes which is quite the deal.

Sucks those distros don‘t update their node versions. :anguished:

[2015-11-20 21:37] sils1297 commented on #61
I wonder *why* that is, the version number sounds really *really* ancient. I don't see any reason why the major distributions wouldn't ship new versions.

[2015-11-20 21:40] sils1297 commented on #61
Ok I know something that should help you: https://www.digitalocean.com/community/tutorials/how-to-install-node-js-on-an-ubuntu-14-04-server

There's probably a similar tutorialish thing for fedora/RHEL SUSE/SLES so you could just add a few guides for people using those distributions.

[2015-11-20 21:41] sils1297 commented on #61
The nvm method seems to be fairly distribution independent.

[2015-11-20 21:44] wooorm commented on #61
I’m guessing that to be the most viable cross-OS option!

[2015-11-21 10:07] sils1297 commented on #58
We already have a bear for using alex in coala: https://github.com/coala-analyzer/coala/commit/c8239cddd1eee01fdb2b7ee2c7e67c4b914baa5d , with that you can use alex for GitHub pull requests via gitmate.com . (After that gets merged.) Because running servers cost money we'll make this service free for open source and paid for closed source.

[2015-11-23 10:40] nslater opened #62 "Suggestion: add "sane""
sane is the inverse of "insane" and is thus ableist in many contexts

[2015-11-23 11:16] wooorm commented on #62
Hey @nslater!

Thanks for the issue. :smile:

*   What considerate alternatives would you suggest, instead of “sane”?
*   Would you be interested in creating a PR? Basically, you’d add a new pattern to `retext-equality/script/ablist.yml`, [like so](https://github.com/wooorm/retext-equality/blob/28f166a84096c3bcf15aa57038285ef13f7d6603/script/ablist.yml#L4-L10), and then (after `npm install`) execu

[2015-11-30 21:33] wooorm commented on #62
@nslater Ping!

[2015-12-01 07:24] ethanostrow opened #66 "Add-on for Brackets by Adobe"
Hey, I know many people use Brackets as a text editor, is there alex for that? If not, that would be great!

[Brackets](http://brackets.io)

[2015-12-01 09:09] wooorm commented on #66
@ethanostrow Thanks for the suggestion.

There’s no such plug-in yet, would you be capable and interested in creating it?

[2015-12-02 20:52] netsi1964 opened #67 "Atom: Option to correct by clicking on suggested correct word"
Great extension, tried it in Atom. I suggest that you add option to click suggested correct words and then have the marked words replaced.

[2015-12-02 20:58] wooorm commented on #67
Thanks for the issue, @netsi1964.

First of all, please post plug-in related questions on the [atom-linter-alex](https://github.com/wooorm/atom-linter-alex) repo, in the future.

On to your question: out of my control, atom-linter-alex is built on the [AtomLinter](https://github.com/atom-community/linter), which provides the interface between messages and Atom. I suggest raising the issue over the

[2015-12-02 20:58] #67 closed

[2015-12-02 20:59] netsi1964 commented on #67
Sorry I posted to the wrong place, and thanks for your suggestion :-)

[2015-12-02 21:04] wooorm commented on #67
:+1:

[2015-12-04 15:59] DrummerHead opened #68 "Provide orignal separate files instead of combined one"
Browserify is being used to combine several source files into `alex.js`, why not provide these source files along the bundle? It would make contributions and code analysis much easier. Cheers.

[2015-12-04 16:01] wooorm commented on #68
If you use bower, you’ll get precompiled distribution files. I’ll remove bower support soon, and move the distribution files over to GH releases.

All other packagers receive the source files. Check out `index.js`.

[2015-12-04 16:01] #68 closed

[2015-12-09 01:56] liamdawson commented on #18
Another point of view here as well: I suggested it to one of my colleagues, they thought it was a bit too heavy-handed for their tastes. I think slowly working people onto Alex would be better than having them dismiss it out of hand, e.g. enabling Alex in a Slack room with fewer suggestions and gradually working up to the full set.

[2015-12-09 02:06] liamdawson commented on #52
What about a confidence factor? That allows for different tolerances, and still a spectrum of outputs.

For example, a slur could give a confidence factor of 1, but disabled could be a bit less due to uses where it's a valid term (e.g. this setting is disabled by default). Then, in CI for example, you could choose a confidence factor for different things (minimum confidence 0.5 for README, 0.8 for

[2015-12-18 04:15] leesdolphin opened #69 "Add support for Restructured Text"
Given that lots of documentation is written in Restructured Text(ReST), it would be good if Alex supported this 'natively'.

Code blocks in ReST are already indented, and inline code is wrapped in '\`'s. However other parts of ReST are also enclosed in '`'s, such as links which should also be linted.

[2015-12-25 00:43] CodeForAllkind opened #70 "Project Rename"
The word alex is inappropriate.

I have an extensive knowledge of Greek history and linguistics - and can confidently say that the word "alex" is inappropriate for such a project.

Your project strives for equal rights, fair writing - why is your name the literal definition of defending men?
You should be PROMOTING equalism, NOT choosing a term like alex.

I hope you put my request under considera

[2015-12-25 01:13] lightdozer commented on #70
You are ridiculously, insanely stupid. I don't have anything other than that to say. Please never post anything publicly to the internet ever again.

[2015-12-25 01:15] NightDevel commented on #70
I apologize if I have offended you.  Please understand where I am coming from - the world has its issues and I just want to help.

[2015-12-25 01:17] CodeForAllkind commented on #70
You're mean.

[2015-12-25 01:18] lightdozer commented on #70
Have you considered crying about how the completely nondescript name Alex is actually an offensive slur meant to denigrate you personally?

[2015-12-25 01:21] CodeForAllkind commented on #70
Oh please.

[2015-12-25 02:31] GreenTurtleOne commented on #70
I'm sorry, but for real?

I have friends named Alex, are they not allowed to name their own projects after themselves now?

Please stop this insanity.

[2015-12-25 05:25] CodeForAllkind commented on #70
How dare you call me a troll? This is a very serious issue and should be discussed seriously.  This repo conflics with the Github Code of Conduct (which I will not reduce to CoC as that may have inappropriate connotations.)

[2015-12-25 05:41] GreenTurtleOne commented on #70
How dare I criticize you for trolling? Okay.

[2015-12-25 09:34] wooorm commented on #70
Interesting, especially that that form, `alexander`, comes from the more generic αλεξω (alexo, meaning `defending`). Let’s just say `alex` is derived from the latter, okay?

Happy Holidays! :christmas_tree:

[2015-12-25 09:34] #70 closed

[2015-12-25 09:47] wooorm commented on #69
Would be cool, but there’s *a lot* of work involved in that: you need a powerful parser, which can take a while to create. As an example, the markdown parser took me ± two years to write.

If anyone is interested, be my guest, but I don’t see this happening (in the coming years), so I’m closing this.

P.S. have you used `alex.text()`, in JS, or `alex --text` on the CLI? It will lint the code in Re

[2015-12-25 09:47] #69 closed

[2015-12-29 19:35] ELLIOTTCABLE opened #71 "Spastic / spaz alternatives, and more slang to be added"
So, `spaz` has been a huge part of my vocabulary for a rather long time; having recently been informed it's hurtful, I turned to `echo | alex` to see what alternatives might be found. I was surprised to see that `alex` assumes the word is being used in its' directly-offensive form (`may be insensitive, use \`person with cerebral palsy\` instead`), instead of as a slang for a hyperactive, or clumsy

[2015-12-29 19:44] ELLIOTTCABLE opened #72 "Splitting up output into ‘senses’, like a dictionary entry"
Writing up #71, I came across this:

[code]

So, there's obviously two different uses of `crazy` that this is trying to debug: basically-casual-slur, and actual-reference-to-ill-person. Even _lumping together_ these possibilities is … mildly hurtful; and in cases like this, I suspect it'd also be helpful to make it clear to those not already in the know, that saying “He was acting like a person wi

[2015-12-30 10:36] wooorm commented on #72
Definitely like this idea! Thanks for taking the time to write this down :+1:

[2015-12-30 10:38] wooorm commented on #71
Good suggestion!

[2016-02-03 19:54] #16 closed

[2016-02-03 19:54] #18 closed

[2016-02-03 19:54] #46 closed

[2016-02-03 19:56] wooorm commented on #72
Unfortunately, this will have to wait a bit. It will take quite some time to rewrite all messages, and I’d rather ship 2.0.0 now!

[2016-02-03 19:57] wooorm commented on #66
I don’t have time for this. If someone wants to pick it up I’d be glad to help, but I’m closing this as it won’t be included in the foreseeable future.

[2016-02-03 19:57] #66 closed

[2016-02-03 19:58] wooorm commented on #14
I don’t have time for this. If someone wants to pick it up I’d be glad to help, but I’m closing this as it won’t be included in the foreseeable future.

If you’re interested. Click “fork” on retext-equality, translate stuff, and publish!

[2016-02-03 19:58] #14 closed

[2016-02-03 19:59] wooorm commented on #32
@danielhickman, sorry, I totally forgot you worked on this! :anguished:

Are you still available to continue work on this?

[2016-02-03 19:59] wooorm commented on #62
Closing due to no response.

[2016-02-03 19:59] #62 closed

[2016-02-03 20:03] ELLIOTTCABLE commented on #72
Doesn't bother me! (=

[2016-02-03 20:04] wooorm commented on #33
Been a while. Thanks for hanging on. The just releases [`2.0.0`](https://github.com/wooorm/alex/releases/tag/2.0.0) version fixes this by introducing several mechanisms to control the messages suggested by **alex**.

[2016-02-03 20:04] #33 closed

[2016-02-03 20:09] wooorm commented on #52
Although not directly applicable. The just released [`2.0.0`](https://github.com/wooorm/alex/releases/tag/2.0.0) version of **alex** splits profanities from inclusivity warnings. The first are now more clearly mentioned as being vulgar. In addition GH-72 which will land in `3.0.0` will make the descriptions of messages more clear.

With both those, I feel this issue can be closed. If not, I’m fine

[2016-02-03 20:09] #52 closed

[2016-02-03 20:10] wooorm commented on #72
:+1:

[2016-02-03 22:10] rugk commented on #38
😧 Sorry, but this sounds horrible. Suicide is not something you should "complete". That's not a game you complete. More information here: http://www.speakingofsuicide.com/2013/04/13/language/

----

I hope you also know the so-called *Werther effect*, where there are also some [guidelines for journalists]((https://en.wikipedia.org/wiki/Copycat_suicide#Journalism_codes)) how to deal with suicides.

[2016-02-03 22:21] capitocapito commented on #38
@rugk I think you're right. "Completed" should be on the opposite side, even per the original link posted in this issue.

"Suicide" itself will throw a warning, although the reason is that it is "profane" (?). Not sure if that is the best categorization? I like the article's use of "stigmatizing" and wonder if that could be used in other places, too.

[2016-02-03 22:22] wooorm commented on #38
Thanks for the feedback.

If you know have better suggestions, please create a pull request on **retext-equality** or **retext-profanity**, or both!

[2016-02-04 00:01] rugk commented on #38
Okay: https://github.com/wooorm/retext-equality/pull/14
There I moved the "complete suicide" to the other site.
Anything else to do?

I found it in the equality file, so I doubt the reason for this to be shown is "profanity"...

[2016-02-04 10:19] kvz commented on #33
Awesome!

[2016-02-04 10:19] kvz opened #73 "alex 2.0.0 has some trouble with `'`?"
I think this screen will illustrate best

![](https://dl.dropboxusercontent.com/s/anq9iiz9m2un067/2016-02-04%20at%2011.18.png?dl=0)

[2016-02-04 10:22] wooorm commented on #73
Thanks, I’ll dig in!

[2016-02-04 11:38] wooorm commented on #73
Okay, the three commits above fix the warnings you mentioned. If you `rm -rf node_modules/` and `npm install` again, things should be operating normally!

Thanks again for raising the issue!

[2016-02-04 11:38] #73 closed

[2016-02-04 12:36] kvz commented on #73
:100:

[2016-02-07 12:41] HugoGiraudel commented on #58
I am very interested to set up Alex.js as part of CI integration on Sass Guidelines. Is there any progress or workaround on this?

Also, is there support for other languages than English so far?

[2016-02-07 13:44] wooorm commented on #58
@HugoGiraudel This issue is still a concept. I’m not yet going to work on it. Partially because it means an Heroku subscription, and that costs money.

You mention “using alex in a CI”, that’s possible, e.g., by running `$ alex` somewhere in Travis or another CI. This issue is about PRs and the added/updated lines, which isn’t possible (on its own) yet.

Coala, mentioned above, could maybe help yo

[2016-02-07 13:47] sils1297 commented on #58
@HugoGiraudel yes, take a look at gitmate.io or app.gitmate.io , that's a prototype service that'll be able to run alex over documents you specify using coala. (At the same time it also can do other static code analysis on your code.)

[2016-02-08 01:53] danielhickman commented on #32
I'll continue working on it. I'm still learning programming so it's a challenge. (I'm 15)

[2016-02-09 20:17] kishore-narendran commented on #32
Is someone still working on this?

[2016-02-09 20:23] wooorm commented on #32
@kishore-narendran Pretty evident from the comment before yours, right?

@danielhickman Okay, awesome! So am I! Could you push the code to GH? Can be private, before we publish it, in which case I’m able to provide a private repo if needed.
If the code is somewhere online I can help more :)

[2016-02-10 02:05] kishore-narendran commented on #32
My apologies @wooorm

[2016-02-13 05:12] danielhickman commented on #32
@wooorm It's been on GitHub.

Link: https://github.com/xorprojects/Alex-Chrome-Extension

[2016-02-13 12:39] wooorm commented on #32
Oh right, I forgot, sorry :)

[2016-02-17 12:20] rugk opened #75 "Hijacking is profane?"
Hijacking is considered profane by Alex. However...
1) there is no alternative given
2) this word is often used in a technical context, where it is certainly not profane. See e.g. https://en.wikipedia.org/wiki/Browser_hijacking - there is no alternative term for that.

[2016-02-17 13:00] rugk commented on #32
Can we also have this extension for Firefox?

[2016-02-17 13:30] wooorm commented on #32
@rugk If someone makes it

[2016-02-17 13:31] wooorm commented on #75
@rugk Thanks for the suggestion, if you want this now you should add it to [`wooorm/profanities`](https://github.com/wooorm/profanities). [This file](https://github.com/wooorm/profanities/blob/master/script/not-so-bad.txt), to be exact.

[2016-02-17 14:53] rugk commented on #75
Okay, [done](https://github.com/wooorm/profanities/pull/2). BTW "hijack" was already included.

[2016-02-17 16:20] wooorm commented on #75
Whoops, forgot to close here. If you re-install alex your fix is included!

[2016-02-17 16:20] #75 closed

[2016-02-19 00:17] NoMoKeTo opened #76 "Source code missing from repository?"
I'm looking for the actual list that alex matches against. I can't find it in the repository in the master branch. I searched for some words like “master” and could only find them in example.md, readme.md and test.js. Could it be that this essential part of the source code is actually missing from the repository?

[2016-02-19 00:20] NoMoKeTo commented on #76
OKay, found it. I thought it was part of this repository but it is not. It would be nice if this was mentioned somewhere in the readme :)

[2016-02-19 00:20] #76 closed

[2016-02-19 00:49] condret opened #77 "shell to they"
when developers write ```shell``` they almost always mean ```shell``` (/bin/sh). so pls, don't suggest to use ```they``` or ```it``` instead of ```shell```

[2016-02-19 00:57] rmmonster opened #78 "Profanity and equality “circles” / “dead-ends”"
When I type "homosexual" in the demo alex states:

When I type "gay" int the demo alex states:

When I type "gay person" alex states:

I don't know what term might seem appropriate in this case, but I think it should not promote the usage of words, which itself identifies as profane.

The easiest way out might be to change the warnings about profanities to something less absolute, like

[2016-02-19 09:34] XstreamGit opened #79 "Reverse mode"
I would like to suggest a reverse mode to make this project even more useful.

With reverse mode for example instead of suggesting:

The tool would suggest:

This would probably be easy to implement as it requires little more than swapping the words.

[2016-02-19 09:57] wooorm commented on #79
That’s not going into alex and I’m not interested in working on it.

Luckily, someone on 4chan already did, I seem to remember it being called “XenaJS” but I’m not sure if it’s still online.

[2016-02-19 09:57] #79 closed

[2016-02-19 09:58] wooorm commented on #78
Thanks for suggesting, @rmmonster.

The profanities were recently added and this is a bug there.

[2016-02-19 09:59] wooorm commented on #77
Thanks for the suggestion, @condret.

[2016-02-19 15:31] apapadimoulis opened #80 "Suggestion: add "jew" / "jewed" as potential profanity"
TRIGGER WARNING: profane and derogatory words are ahead

I see that both "gyp" and "gypsy" are considered profane, as they are derogatory to Romani people.

However, as a Jew, I find it troubling that alexjs does not see a problem "jew" and "jewed". For example, "I overpaid by $20, he guy totally jewed me." Or, "that guy is such a jew."

In this case, the replacement suggests should be "that indiv

[2016-02-19 16:27] apapadimoulis opened #81 "Suggestion: “Niggardly” should be categorised as “often mistaken as profanity” not “profanity”"
TRIGGER WARNING: words that are often mistaken as profanity ahead, as well as references to profane words

Currently, alexjs considers "niggardly" to be "profane".

Although niggardly should always be avoided due to its homophonous relationship to that disgustingly offensive “n-word”, my concern is that a writer with a profound vocabulary who's looking to find the perfect balance between “miserly”

[2016-02-19 20:41] wooorm commented on #81
Thanks for the suggestion, @apapadimoulis. In the future I’d like to make this kind of grading possible though!

[2016-02-19 20:51] wooorm commented on #80
I don’t like to add “jew”, as that’s a perfectly valid word, and from my reading it is the preferred term for that group. Unlike “gyp”, which is not the preferred term by a group of people. If you don’t agree, please supply a source.

Regarding “jewed”, I agree, please provide a source.

Also, I suggest request a pull on [retext-equality](https://github.com/wooorm/retext-equality) if you want to m

[2016-02-19 21:49] polygeekery commented on #80
Then what justification do you have for including the following words?

- headlights
- tinkle
- urine
- urinate
- kumquat
- niggle
- niggled
- niggles
- niggardly
- lactate
- nuke
- propoganda
- radical
- nymph
- primetime
- rigger
- roach
- robber
- satan
- screw
- septic
- shinola
- shooting
- sick
- slant
- slope
- smack
- snigger
- tar baby

??

This is only a small selection of the words in y

[2016-02-19 21:55] boomzillawtf commented on #80
Bah. That sounds like jew talk.

[2016-02-19 22:08] apapadimoulis commented on #80
I may not be a big open source contributor, but I am a staunch believer in inclusiveness and I think we, as an industry, need to be focusing more energy on helping people avoid microagressions. This project is a good step in that direction, and this was one way I thought I contribute (the website suggested to post a note here).

As a member of "that group", I can say that "jew" (note the casing) i

[2016-02-19 22:11] apapadimoulis commented on #80
@boomzillawtf, while I'm certain your intention was not to offend, but instead to illustrate how "jew" can be used in an offensive manner... as a Jew, I would appreciate if you are more considerate when illustrating offensive uses of language surrounding the **completely invalid word** "jew"

[2016-02-19 22:13] boomzillawtf commented on #80
Bah. That sounds like Jew talk.

[2016-02-19 22:22] DogsB opened #82 "alex is a bit too aggressivly masculine"
Hi, I really enjoyed using the software. I really feel that it will make the internet a more enjoyable place to converse. However I feel that the name may put off some people. The name Alex sounds a bit too aggressively masculine. I really feel that a softer more feminine name like Sophie is a lot gentler on the frontal lobes and will make the community feel a lot more inclusive. It feels more lik

[2016-02-19 22:29] DogsB commented on #80
@boomzillawtf that is a horrendious insult. How can you be so trangressive against your fellow human beans. The **J**ew**ish** people are a proud and noble race whose lack of privilegde has caused them great hardship over the millenia. They are a strong people deserving of your respect.

[2016-02-19 22:38] #82 closed

[2016-02-20 13:22] cartmanwtf commented on #80
Oh, nice Kyle. So you're now impersonating this @apapadimoulis guy?!

I knew it! I knew it the moment you bought your first Internet-enabled computer that you'd simply go out there and grab the first chance to jew us all over. First you kill our savior Jesus Christ and now this! You jews just don't know where to stop!

Don't think I'll let you win you back-stabbing piece of shit! I'm gonna get you

[2016-02-20 16:11] wooorm commented on #80
@apapadimoulis Your words have convinced me, but your tweet makes me doubt intent. Please provide a source.

Also: if a group refers to themselves in a certain way, think of Hip Hop culture, doesn’t make those references OK in general.
And, importantly, this is not a race between whichever group is most offended by a given reference.

[2016-02-20 17:41] apapadimoulis commented on #80
@wooorm the fact that you want a source for the inappropriateness of "jew" yet classify the long list of words that @polygeekery mentioned as profane makes me doubt this project's sincerity and your intent.

Jew is a proper noun. The spellchecker puts a red squiggly line under "jew" and suggests Jew as the correction. For a source, just look in literally any English dictionary ever written.

The w

[2016-02-21 01:42] AbdealiJK opened #83 "Clash with alex in haskell"
We were adding haskell linter support for coala (https://github.com/coala-analyzer/coala) and found that there was a clash with another package named `alex` in ghc (haskell).
It seems we need `alex` from haskell as a dependency for our build - and this clash is a little annoying, as we can only use one of these packages at a time.

Is it possible to make an alias of your alex to `alex.js` or `alex

[2016-02-21 10:26] sils1297 commented on #83
FWIW we actually do want to use your alex *and* the alex haskell lexer in our CI.

[2016-02-22 15:43] polygeekery commented on #80
@wooorm, would you be interested in a pull request that removes all of the words that are not profanity?  If your project is serious, and I am beginning to doubt it is much the same as @apapadimoulis is, you would want to remove the words that are not profane or that would likely trigger more false positives than do real good.

[2016-02-22 19:29] wooorm commented on #83
I’m not sure why it’s the task of *this* alex to name itself differently? (side note: the name `alexjs` is only used in the domain, nowhere else, I dislike it :wink:)

Sure, it’s possible to add another link, but I feel it’s like feature creep.

I think I’ve suggested this before to Coala: instead of using `npm install -g`, install without the `-g` flag and use the correct version.
npm uses `-g` f

[2016-02-22 19:33] wooorm commented on #80
Hey @polygeekery, @apapadimoulis, your trolling was fun but now you’re boring me.

@polygeekery Yeah, sure, I suggest removing them from [`wooorm/profanities`](https://github.com/wooorm/profanities), through the [`not-so-bad.txt`](https://github.com/wooorm/profanities/blob/master/script/not-so-bad.txt) file. I suggest only removing the really-not-that-offensive words (e.g., `nuke`).

[2016-02-22 19:39] sils1297 commented on #83
The usecase is that we actually want to use *both alex binaries* in one run. So global installation or not, if we modify the path we can still only use one of them, right?

[2016-02-22 19:45] sils1297 commented on #83
(FWIW we're using the non global installation of alex by now :))

[2016-02-22 19:46] wooorm commented on #83
Yeah, I understand, either adding a new (symlinked) binary or my proposed solution would work for that, but my suggestion would have nice benefits (like better version control, so if a new version of remark or Alex is published it won't affect coala.)

[2016-02-22 19:55] sils1297 commented on #83
Ah you mean specifying the whole path to alex without using PATH at all. Sorry, didn't get that. It's not feasible for users though... they'd have to give the path to alex which is system dependent.

[2016-02-22 20:30] wooorm commented on #83
Yes, no $PATH, just a local reference to `./node_modules/.bin/alex`.

Why would users have to specify that location? You can specify it directly in your code, and there’s no differences between systems (other than `/` or `\`).

[2016-02-22 20:51] sils1297 commented on #83
@AbdealiJK that's a feasible solution, similar to how we do it with checkstyle.

@wooorm sorry for being so stubborn and stupid. :P

[2016-02-22 21:34] wooorm commented on #83
@sils1297 Wait, what is @AbdealiJK’s solution?

Does this mean this I can close this?

[2016-02-22 21:36] sils1297 commented on #83
Yeah I think considering your opinions you should close this.

[2016-02-22 21:42] wooorm commented on #83
OK, great! Please let me know if I can help in any other way :+1:

[2016-02-22 21:42] #83 closed

[2016-02-22 21:49] sils1297 commented on #83
We will, you know us :)

2016-02-22 22:42 GMT+01:00 Titus Wormer <notifications@github.com>:

[2016-02-22 22:03] wooorm commented on #83
Haha :ok_hand:

[2016-02-23 08:20] AbdealiJK commented on #83
But if we specify `./node_modules/.bin/alex` in the code, it wouldn't work is `alex` is globally installed.

Nor would it work if the user runs `coala` from a directory other than the root of the place they did `npm install` :(
i.e. `--find-config` wouldn't be able to run `AlexBear` => The editor plugins will not be able to use alex at all.

[2016-02-23 09:02] wooorm commented on #83
I just now saw that users [have to manually install the npm dependencies](https://github.com/coala-analyzer/coala/blob/e51689440ff6845c50e09cb51c4284a3d673c792/docs/Users/Install.rst#js-dependencies).
I was under the impression coala installed those into its own directory, any reason why that’s not the case? If it would, that means every user can run those linters without having to manually instal

[2016-02-24 08:54] AbdealiJK commented on #83
@wooorm At the moment we do not do that - we may support it later. There are issues that arise when doing something like that, and it's generally better to use existing libraries in my opinion.
Doing something like that feels like windows - where you have to package your own version of any library and it sits inside your own `Program Files` folder (I'm not a fan of it).

Either way (removing coala

[2016-02-24 09:30] wooorm commented on #83
@AbdealiJK I think it's more awkward for users to have to install 6+ packages when they want to use coala, whereas with the by me proposed solution, they would Install coala and be done with it.

This problem isn't just alex, or remark, it will arise more and more if there are other 'bears' added.
Note that in the case of node, they didn't change the name of node project.
CircleCI: one can specify

[2016-03-04 21:59] Starefossen opened #84 "Rename "master" branch to "primary""
Keeping within the spirit of Alex's rule set; the `master` git branch for this repository should be renamed to `primary`.

[2016-03-04 22:31] wooorm commented on #84
😂

[2016-03-04 22:31] #84 closed

[2016-03-21 13:55] jiegec opened #85 "Suggestion: add a command line switch to use 0 as exit code even if there is any warning."
Or it would be hard for me to survive https://www.reddit.com/r/programming/comments/25y6yt/use_the_unofficial_bash_strict_mode_unless_you/ when using alex to check my files.

[2016-03-22 22:06] wooorm commented on #85
I’ll accept a PR for this.

[2016-03-22 22:06] #85 closed

[2016-03-25 16:58] sgorman opened #86 "insensitive branch name 'master'"
consider using 'primary' or 'default'

thank you.

[2016-03-25 17:13] #86 closed

[2016-03-30 10:28] HopefulLlama opened #87 "hell and he'll are the same word according to alex"
Input:
hell

OR input:
he'll

Output:
hell may be insensitive, use they, it instead
Don’t use “hell”, it’s profane

OR output:
he'll may be insensitive, use they, it instead
Don’t use “he'll”, it’s profane

I think hell and he'll are probably different words.

[2016-03-31 16:13] #87 closed

[2016-03-31 18:38] whelaro commented on #80
@wooorm I don't think @apapadimoulis is trying to troll you. As for sources, I've heard it used in the negative ways that @apapadimoulis has described, but from Urban Dictionary as a quick source for this sort of thing:

jewed - verb. To get screwed over or cheated out of something.
jew - Derogatory term for someone tight with their money or someone not very generous.

the 20 words related to jew

[2016-03-31 18:43] wooorm commented on #77
This was fixed somewhere in the past, no idea where!

[2016-03-31 18:43] #77 closed

[2016-04-07 21:51] jashmenn opened #88 "allowed profanities possibly broken"
I may be mistaken, but I think the API for allowing individual profanities may be broken.

For instance, if I add the following to `test.js`:

[code]

I'll receive the following when running `ava`:

[code]

[2016-04-09 14:01] wooorm commented on #88
Thanks for the question, Nate.

That’s because there’s no `allow` parameter for the `alex.text()` function: `allow` only works with `alex.markdown()` and `alex()`.

[2016-04-09 14:01] #88 closed

[2016-04-28 02:19] iandioch opened #89 "Suggestion: `spa`"
Where I am, `spa` is used instead of `spaz`. I saw it come up in a document today (that I plan on running through Alex, however the program will miss this regional slang). Going by a [few](http://www.urbandictionary.com/define.php?term=spa&defid=3589483) relevant [mentions](http://www.urbandictionary.com/define.php?term=spa&defid=713178) on Urban Dictionary, this only happens in Ireland, but it is

[2016-04-28 21:41] namagic opened #90 "Suggestion: `islamist`"
Islamist is casually thrown around now, and even if not used in a derogatory sense, as a Muslim, I do feel like their is generally negative connotation surrounding the word. I think the news has helped push the word to it's current nonchalantness.

Their is a relatively recent effort by CAIR to scrub the word from the media: http://www.clarionproject.org/analysis/cair-makes-new-push-get-media-scru

[2016-04-30 00:41] JayYang95 opened #91 "Suggestion: `shemale` and `he-she`"
I noticed that alex has covered some offensive terms such as "tranny" but has failed to include some equally offensive ones such as these.

Input:
echo "That person is a he-she." | alex

returns no issues found

Input:
echo "That person is a shemale." | alex

also returns no issues found

[2016-04-30 06:24] yoshuawuyts commented on #91
Oh yeah, those should def be included. PR welcome!

[2016-04-30 14:17] eah13 commented on #91
@yoshuawuyts would the correct place to fix this be here? https://github.com/wooorm/retext-equality/blob/master/lib/patterns.json#L4542

[2016-04-30 14:54] yoshuawuyts commented on #91
@eah13 Yeah, that seems about right :sparkles:

[2016-05-08 14:53] wooorm commented on #91
Close! The `patterns.json` file is created from the YAML databases in [`script/`](https://github.com/wooorm/retext-equality/tree/master/script). I’d appreciate it if you add it there.

P.S. I’ll add a section in the README about contributing 👍

[2016-05-08 15:37] wooorm commented on #90
Great suggestion! 🎉

1) What do you suggest instead?
2) You can add a pattern yourself through a PR in [`wooorm/retext-equality`](https://github.com/wooorm/retext-equality#contributing).

[2016-05-08 15:39] wooorm commented on #91
Added the [section on `wooorm/retext-equality`](https://github.com/wooorm/retext-equality#contributing). Also: what do you suggest instead?

P.S. Great suggestion! 🎉

[2016-05-08 16:25] wooorm commented on #89
Great idea, thanks for suggesting! There’s quite some chance of false positives though, so I’ll need to think about how to implement it.

[2016-05-09 01:47] yoshuawuyts commented on #90
perhaps muslim / muslim person / person of the islamic faith would work? idk, just dumping suggestions

[2016-05-09 08:50] wooorm commented on #90
@yoshuawuyts 👍

Regarding `muslim person`, I believe “person” there is redundant (think ATM Machine) as `muslim` already refers to a person (wikipedia definition: “Muslim [...] relates to a person who follows the religion of Islam”).

`muslim` and `person of Islamic faith` are great!

[2016-05-09 09:41] yoshuawuyts commented on #90
hah yeah, the reason why I emphasized the "person" in there is because I feel the word "muslim" has been twisted by media to depict these devilish creatures which are only capable of bad things. Emphasizing they're people might act as a gentle reminder that 1.6 billion muslims are just as human as the 5.4 billion non-muslims. But you're right hah

[2016-05-09 15:57] #91 closed

[2016-05-17 16:32] HopefulLlama opened #92 "Suggestion: `Chinese` isn’t profane."
alex flags any usage of the word "Chinese" as profane.

I don't think it is, but there is always the chance that I'm wrong.
If it isn't, it is probably best to remove "Chinese" from the profanity list.

[2016-05-17 16:38] wooorm commented on #92
Agreed! 👍

I recently included a list of profane words and it’s overly sensitive. I’m currently in the process of rating how big the chance is that those words are or aren’t profane, and adjust messages accordingly.

It’s a lot of work so it will take a while though, thanks for your patience :)

[2016-05-17 16:46] HopefulLlama commented on #92
Fair! Is there any way I can help?

[2016-05-17 18:38] wooorm commented on #92
Seems I just lost the work ’till now, but the project is here: <https://github.com/wooorm/cuss>. If you’re interested in helping, fork it, and rate the phrases in `data/index.json` (`0`, `1`, or `2`). See the readme for more info and examples! :)

[2016-05-18 13:22] #92 closed

[2016-05-18 13:22] #78 closed

[2016-05-18 13:22] #80 closed

[2016-05-18 13:22] #81 closed

[2016-05-18 13:22] #89 closed

[2016-05-18 13:24] wooorm commented on #92
The message for `Chinese` is now `Be careful with “Chinese”, it’s profane in some cases`, which I believe covers several uses of the phrase correctly.

[2016-05-18 13:24] wooorm commented on #89
The message for `Spa` is now `Be careful with “Spa”, it’s profane in some cases`, which I believe covers several uses of the phrase correctly.

[2016-05-18 13:25] wooorm commented on #81
The message for `Niggardly` is now `Be careful with “Niggardly”, it’s profane in some cases`, which I believe covers several uses of the phrase correctly.

[2016-05-18 13:26] wooorm commented on #80
The message for `Jew` is now `Be careful with “Jew”, it’s profane in some cases`; and for `Jewed`, `Don’t use “Jewed”, it’s profane`; which I believe covers several uses of the phrases correctly.

[2016-05-18 13:29] wooorm commented on #78
I added more nuance to the profanities. As both `homosexual` and `gay` can be used as profanities, both get messages (`Reconsider using “Homosexual”, it may be profane`, and `Be careful with “Gay”, it’s profane in some cases`). The retext-equality dependency also warns for `homosexual` (suggesting `gay` instead).

See [ignoring messages](https://github.com/wooorm/alex#ignoring-messages) to deal wi

[2016-05-18 14:15] #71 closed

[2016-05-18 14:15] #90 closed

[2016-05-21 10:04] SShrike commented on #13
@Hual, that's the biggest strawman I've seen all day.

[2016-05-29 22:39] hakusdream opened #93 "Suggestion: add "a transgender teenager""
Quoted "...as a transgender teenager living in..."

Matches "a transgender", not "a transgender teenager".

[2016-06-01 01:13] ms-217 opened #94 "Readme is confusing"
There are some grammar and clarity issues with the README.md. Some of the lines I found very confusing. For example:

I think you should add "available" to this line. It looks like you missed it completely.

I say we should take some time and proofread our files a bit.

[2016-06-05 13:41] alexboogeyman opened #96 "Is this a joke?"

[2016-06-05 17:07] #96 closed

[2016-06-05 19:15] FliegendeWurst commented on #96
Please answer my question :confused:

[2016-06-06 11:19] alexboogeyman opened #97 "Is this a joke or not?"
I really want to know :confused:

[2016-06-06 11:29] wooorm commented on #97
No.

[2016-06-06 11:29] #97 closed

[2016-06-08 13:10] scivey commented on #38
@richardpetithory

[2016-06-13 10:24] svx opened #98 "Support reStructuredText"
Thank you for alex !

Would it be possible to support [Support reStructuredText (http://docutils.sourceforge.net/rst.html) , that would be $FILENAME .rst ?

[2016-06-13 10:40] wooorm commented on #98
Duplicate of wooorm/alex#69!

[2016-06-13 10:40] #98 closed

[2016-06-17 13:31] evilebottnawi opened #99 "Add option `--quiet`"
For output only errors.

[2016-06-19 01:57] GusCaplan opened #100 "Add compound phrases (`fuckbook`)"
The title

[2016-06-19 19:55] wooorm commented on #100
...was quite long 😉

Sure, that’s possible. But it’s not a regex. Would you be interested in PRing?
The right places are [`profanities`](https://github.com/wooorm/profanities/blob/master/script/rest.txt) and [`cuss`](https://github.com/wooorm/cuss/blob/master/data/index.json).

[2016-06-19 20:01] wooorm commented on #99
Could you expand on that?

[2016-06-19 20:03] wooorm commented on #94
I say we shouldn’t be passive aggressive.

[2016-06-19 20:30] #94 closed

[2016-06-19 23:26] ms-217 commented on #94
I'll take that into consideration next time. :angry: :arrow_backward: grrr aggressive

[2016-06-20 02:55] GusCaplan commented on #100
Sorry. I didn't write that cohesively. What i am proposing is a change to the way the input is parsed to find bad words that have been compounded. However, I just read the code, and this seems to span across three or four repos, so I may not get around to a pr. 😄

[2016-06-20 09:07] evilebottnawi commented on #99
@wooorm not output
[code]
Only if error exist.

[2016-06-20 10:31] wooorm commented on #100
No problem!

Yup, it won’t be easy to add total support for compounds, but I also think it would be very viable. think `rapist`, which is profane, but not in `therapist`. Now, I don’t believe the letters `fuck` are used in any non-profane words, but most are.

To keep false-positives low, I’d prefer just listing words in the aforementioned libs

[2016-06-20 10:31] wooorm commented on #94
Haha, great!

Thanks for the suggestions!

[2016-06-21 20:40] RRorg commented on #99
I think the OP meant to type `--quiet`, which will suppress all output unless an error is encountered, useful for e.g. piping commands.

[2016-06-21 20:55] RRorg opened #101 "lesbian"
`homosexual`:

`lesbian`:

[2016-06-21 22:32] seanohue commented on #101
This raises the question -- what is the source for deciding if something is maybe insensitive vs. profane, etc.?

[2016-06-22 07:40] RRorg commented on #101
I would go with the recommendations of well-established human rights organizations instead of trying to come up with my own ways:
The [Gay and Lesbian Alliance against Defamation](http://www.glaad.org/reference/offensive) does not see `lesbian` as an offensive term, and indeed supports it use as a noun, replacing the clinical term `homosexual`

[2016-06-22 08:17] evilebottnawi commented on #99
@RRorg yes

[2016-06-22 18:50] seanohue commented on #101
@RRorg That sounds like a good source to use. Should we try to find sources to include for other terms as well? That might be another issue. Perhaps there could even be a super-verbose flag to ask alex to cite its sources.

[2016-06-22 18:55] wooorm commented on #101
There already is such a flag (`-w, --why`), but there aren’t many sources yet!
Plus, glaad is [already used](https://github.com/wooorm/retext-equality/blob/master/script/lgbtq.yml), but please add more sources!

This issue in particular is caused by a mismatch between retext-profanitites and retext-equality. Thanks for noticing. I’ll deal with that somewhere soon this week!

[2016-06-22 19:00] seanohue commented on #101
@wooorm Ah, thanks. I haven't had a chance to look at this project in depth but I'll try to find some time to contribute sources.

[2016-06-22 19:00] wooorm commented on #101
I'd love that!

[2016-06-23 09:59] #100 closed

[2016-06-23 10:01] wooorm commented on #100
I added it to profanities; will add to cuss in a second. If you’d like to add more, please PR there!

[2016-06-23 10:14] #101 closed

[2016-06-23 10:24] #93 closed

[2016-06-23 10:26] wooorm commented on #93
Thanks Rebecca!

[2016-06-23 16:25] #99 closed

[2016-06-24 08:31] evilebottnawi commented on #99
@wooorm Thanks!

[2016-06-29 19:36] wooorm commented on #32
Closing as there's no visible work on this. If you're making this, please open a new issue or ask to reopen this!

[2016-06-29 19:36] #32 closed

[2016-06-29 19:45] kishore-narendran commented on #32
If no one is making this anymore I'd love to. 

Get Outlook for iOS

On Wed, Jun 29, 2016 at 12:36 PM -0700, "Titus Wormer" <notifications@github.com> wrote:

Closing as there's no visible work on this. If you're making this, please open a new issue or ask to reopen this!

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-06-29 20:18] rugk commented on #32
What exactly? Firefox browser extension? Bookmarklet?

At least I think a bookmarklet would be the easiest and best browser cross-compatible solution. A real add-on can be created afterwards.

[2016-06-29 20:55] wooorm commented on #32
@kishore-narendran @rugk This issue was originally about a browser extension / bookmarklet. I’d love both, and will add it to the [integrations](https://github.com/wooorm/alex#integrations) 👍

[2016-06-29 22:20] wooorm commented on #58
Closing for now as I’m not interesting in doing it now, nor do I have the time. I’d love it if someone made this into dedicated reality though! (but do check out alex-bear as mentioned above for now!)

[2016-06-29 23:46] kishore-narendran commented on #32
@rugk Do you want to make a bookmarklet or a browser extension? 😛 I'll take either.

[2016-06-30 10:32] rugk commented on #32
At first the thing which is easier to create...
And that's - as I assume - a bookmarklet. As I said the browser extension could be created afterwards...

[2016-06-30 15:25] rugk opened #102 "UK is profane?"
`I live in the UK.` shows:

Why/when exactly is this profane? And I think even if there is some word I don't know, it is quite likely not written in capital letters as the United Kingdom.
So some case-sensitive checking would be useful here.

[2016-07-03 18:13] wooorm commented on #102
Hi @rugk! Thanks for the issue! 🎉 Brexit related, maybe? 😉

I believe it’s a misspelt/shortened form of `uck` (you should be able to find definitions for that on [Urban Dictionary](http://www.urbandictionary.com)).

You pose two suggestions: the last being case-sensitivity. I don’t really like adding that, as that would make the algorithm quite brittle: it would be easy to get past the algorithm,

[2016-07-03 18:13] #102 closed

[2016-07-03 18:57] rugk commented on #102
Funnily even if I put the example `` before the line Alex complains about, the warning goes away...
I think the correct one would be  ``, would not it?

The file method does not work, but I think this is an issue with the IDE integration I use: https://github.com/wooorm/atom-linter-alex/issues/17

[2016-07-03 18:58] rugk commented on #102
Actually putting everything in a c omment before the line works:

[code]

[2016-07-03 19:03] rugk commented on #102
I can reproduce this behaviour (without the indentation - which seems to affect Alex too) on http://alexjs.com/

Shows no warning:
[code]

Shows warning:
[code]

[2016-07-06 20:26] wooorm commented on #102
@rugk That seems like a very different bug! Could you open another issue to discuss that?

[2016-07-06 22:08] rugk commented on #102
Indeed. I'll do. :smile:

[2016-07-06 22:08] rugk opened #103 "Strange comment behaviour"
Continuing https://github.com/wooorm/alex/issues/102#issuecomment-230169234

Shows no warning:

[code]

Shows warning:

[code]

[2016-07-22 19:22] dakshil opened #104 "Suggestion: add the terms which include beg"
Tried the online version. Doesn't pick up the words containing beg.

[2016-07-23 12:03] wooorm commented on #104
Hi @dakshil, thanks for helping!

Do you have any suggestions of what terms to add?

[2016-07-23 12:39] wooorm commented on #104
Oh and if you’d like to help you contribute to [retext-equality](https://github.com/wooorm/retext-equality#contributing), or [profanitities](https://github.com/wooorm/profanities)/[cuss](https://github.com/wooorm/cuss)!

[2016-08-14 09:29] wooorm commented on #104
@dakshil Ping!

[2016-08-14 09:33] dakshil commented on #104
Ohh sorry. Am in the process of moving so got caught up.
http://www.thesaurus.com/browse/beg
Here are the replacement words for beg.

On 14 Aug 2016 05:29, "Titus Wormer" <notifications@github.com> wrote:

[2016-08-14 09:38] wooorm commented on #104
:+1:

Could you also expand on why you think alex should highlight `beg`? Do you have sources which describe why it’s insensitive?

[2016-08-14 09:49] dakshil commented on #104
https://en.m.wikipedia.org/wiki/Talk:Begging

http://www.dictionary.com/browse/begging

Please see synonyms part. The word beg has become demeaning or slightly
degrading. Telling someone to, stop begging you to do them a favour, for eg
comes across as them being needy.
The term isn't exactly friendly and alternative words are being used now a
days.

On 14 Aug 2016 05:38, "Titus Wormer" <notificati

[2016-08-21 01:03] jtd00123 opened #113 "Should `wife beater` be an addition?"
suggest a _sleeveless undershirt_

[2016-08-21 02:54] yoshuawuyts commented on #113
yeah, fair enough - tank top perhaps too?

[2016-08-21 09:09] jtd00123 commented on #113
Yes.

[2016-08-22 16:50] wooorm commented on #113
Oh I like this! Awesome!

[2016-08-31 01:01] traustiasg opened #126 "Suggestion: add..."
Suggestions of words that could be added

**eskimo** - may be insensitive
**half-breed -** may be insensitive
**half-caste**  - may be insensitive
**mick** - derogatory, racial slur
**negress** - derogatory, racial slur
**oriental** -  potentially offensive, commonly used term in the UK where it is not considered insensitive, it is considered offensive in the US however
**paddy** - derogatory, rac

[2016-09-09 04:32] leesdolphin opened #127 "Detect the use `he/she` and `he or she`"
Currently typing `he` on it's own and `she` on it's own is detected by the `he-she` rule. However the use of `he/she`, `he or she` and the various other pronoun forms are not detected.

[2016-09-09 10:01] leesdolphin commented on #127
So this change can be made really easily by changing line 30 in `index.js`

[code]

However this simply creates 2 warnings; one for `he` and one for `she`. I'd prefer a more precise solution implemented in `retext-equality` to detect these as a candidate for replacement.

For example:

Input: ```He or she must own a computer```
Output: ``` `He or she` may be insensitive, use `they` instead```

[2016-09-13 17:52] wooorm commented on #127
Indeed, it would be possible to add an option for that.

If you really need it now, I suggest going with unified directly (this is just a small wrapper around the by you highlighted code).

I’ll add support for passing `noBinary` in alex as well though.

Re the second part of your question: if you want to champion it, could you open an issue over on the correct repo ([retext-equality](https://gith

[2016-09-13 17:53] wooorm commented on #126
Good ideas! Do you have some suggestions for alternatives?

[2016-09-13 18:13] wooorm commented on #104
@dakshil Hi 👋

The by you linked article doesn’t explain what I asked for. It contains one comment by an anonymous user, which I don’t find a good source. In fact, from Googling around a bit I find more references to panhandling being bad.

Could you find a better source? Or get some community support for this?

[2016-09-13 18:21] #113 closed

[2016-09-13 19:17] wooorm commented on #58
Reopening. I’ve got some ideas for this!

[2016-09-13 21:16] #58 closed

[2016-09-13 21:16] #127 closed

[2016-09-25 14:01] lodenrogue opened #128 "Strange characters in output"
I'm getting some strange characters in the output for single quotes:

Reconsider using â€œbitchâ€, it may be profane

Any suggestions?

[2016-09-25 14:05] lodenrogue commented on #128
Seems my browser defaulted to Windows-1252 instead of UTF-8

[2016-09-25 14:05] #128 closed

[2016-09-30 20:42] gpeden opened #129 "alex-slack:"
The readme says: "alex ignores words meant literally, so “he”, He — ..., and the like are not warned about", but alex-slack is warning on 'him' and 'he':

![image](https://cloud.githubusercontent.com/assets/1175466/19006293/a21f77f8-8713-11e6-859d-5b3934458752.png)

Is this a bug? or do I need to configure things differently?
george

[2016-09-30 22:20] oxcarh opened #130 "Spanish"
Alex only supports **english**, right?

I want to help to make this work with texts in **spanish**, but don't know where to start.

[2016-10-01 13:43] wooorm commented on #129
Literal means [words in quotes, like those examples you used above](https://github.com/wooorm/nlcst-is-literal#isliteralparent-index), but your screenshots don’t show them.

[2016-10-01 13:45] wooorm commented on #130
I laid some of that out in GH-14.

[2016-10-01 22:05] gpeden commented on #129
thanks for that explanation.  Is there a way to allow him / her without quotes?  Also, is there a way to add my own words to the exclusion / bad list?

[2016-10-02 09:22] wooorm commented on #129
* You can allow certain cases through [several methods](https://github.com/wooorm/alex#ignoring-messages). These probably won’t work in the slack integration though, but that’s an issue for that repo.
* It’s not possible to add new patterns, either add them in [`retext-equality`](https://github.com/wooorm/retext-equality), [`retext-profanities`](https://github.com/wooorm/retext-profanities), or cr

[2016-10-02 09:22] #129 closed

[2016-10-04 19:36] Flame2957 opened #132 "Triggering"
Trigger me timbers.

Seriously, who spent months of their life working on a trigger detector? Do programmers really have nothing better to do with their lives?

[2016-10-04 19:38] #132 closed

[2016-10-06 17:48] antislice opened #134 "Link in README to rules?"
Hey, this is a really cool thing! I spent a good 10 minutes looking for the list of rules to figure out if this library would be the best fit for my use case, and finally found a link to [retext-equality](https://github.com/wooorm/retext-equality/tree/master/script) in an old issue.

I'm not sure where you'd want it in the README or how you'd want the link phrased, but it would be really helpful!

[2016-10-06 19:17] wooorm commented on #134
Also: wooorm/retext-profanities does the profane words (without suggestions)

[2016-10-10 18:05] wooorm commented on #126
@traustiasg Ping!

[2016-10-10 18:13] wooorm commented on #104
Thanks for raising, again, I’m closing this for the aforementioned reasons.

Don’t forget that you can always create your own retext plugins if you’re so inclined, and roll your own “alex”.

[2016-10-10 18:13] #104 closed

[2016-10-10 18:14] wooorm commented on #130
Closing, if someone wants to work on this I’d be glad to help!

[2016-10-10 18:14] #130 closed

[2016-10-10 19:33] #134 closed

[2016-10-10 19:34] wooorm commented on #134
I added a paragraph covering this. Hope it helps?!

[2016-10-10 20:06] antislice commented on #134
Yup, that definitely helps! Thanks for adding it.

[2016-10-10 20:07] wooorm commented on #134
👌

[2016-10-13 02:30] mathesond2 commented on #126
Hi @wooorm! love the project, and figured I'd give this issue a quick jot..this is seriously offensive stuff to type out in an issue, but I suppose the point of Alex is to correct such language. :) Please let me know your thoughts, I'd love to contribute more.

**eskimo** - Inuit
**half-breed** - bi-racial
**half-caste** - bi-racial, multi-racial
**mick** - Irish person
**negress** - woman of Afri

[2016-10-13 15:56] seanohue commented on #126
Perhaps "person of color" as a replacement for non-white

[2016-10-17 08:36] #126 closed

[2016-11-17 05:07] smileytechguy opened #138 "Online interpreter having issues with indentation"
A tab or 3 or more spaces at the beginning will cause nothing to be checked

Also, nothing inside quotes is checked either.

[2016-11-17 22:38] kiipa opened #141 "Suggestion: add… muhammed"
If "Jesus" is considered **profane**, why is "Muhammed" absolutely fine? Why the discrimination?

[2016-11-17 22:45] seanohue commented on #141
I assume it's because Muhammed is also one of the,  or THE, most common
name in the world.

On Nov 17, 2016 5:39 PM, "Dan Örjestad" <notifications@github.com> wrote:

[2016-11-17 23:31] Bonusinches commented on #141
Never been to Mexico have you Sean?

[2016-11-18 14:50] seanohue commented on #141
I'll note that "Jesús" is distinctly different than "Jesus", and also note that "Jesus" as in "Jesus Christ!" is used as a swear more often than "Mohammed", anyway. It seems like you are reaching.

[2016-11-18 21:04] henriklundgren commented on #141
I felt intrigued by the subject and decided to chime in,
besides previous said,
from a power research perspective,
Christianity enjoys an elevated position that non-Christianity doesn't,
hence reaching for discrimination seems petty.

[2016-11-18 23:03] wooorm commented on #141
Thanks for the issue, @kiipa, the fact that `Jesus` is considered profane (or, in fact, the message reads “**may** be profane”) has to do with that word being used as a profanity (for example, as in `Jesus, my big toe!`) whereas to my knowledge `muhammed` is not. I’d love to know about it though, if you see the latter used that way.

Cheers, hope you enjoy open source!

P.S. Thanks other peeps as

[2016-11-18 23:03] #141 closed

[2016-11-18 23:07] wooorm commented on #138
It’s a feature, not a bug!

That’s ’cause it’s markdown. The CLI and API both provide ways to turn that off.

That’s because quotes aren’t often something one can change, as they’re often meant literally, or said/written by someone else. Read more about that here: https://github.com/wooorm/alex#support

Thanks for the issue! Feel free to comment or raise new issues if you’ve got more questions.

[2016-11-18 23:07] #138 closed

[2016-11-19 05:25] seanohue commented on #138
Should I submit a new issue for a feature request to check quotes?

[2016-11-19 10:31] wooorm commented on #138
Sure!

[2017-01-16 14:05] TheReverend403 opened #143 "Some phrases you missed."
* Donald Trump is actually a pretty cool person.
* What we need is another racially motivated genocide.
* Immigrants are to blame for the world's problems.
* There can never be peace in the middle-east.
* Cast the infidel unto the flames.
* Adolf was just a poor, tortured soul.
* /pol/ was right.

I'm sure there's many more, I'll report back with my findings.

[2017-01-16 14:32] yoshuawuyts commented on #143
goodbye ✌️

[2017-01-16 14:32] #143 closed

[2017-01-24 21:16] lightyrs commented on #72
This is crucial.

[2017-02-01 14:19] glenlife opened #145 "Suggestion: add `pedophilia` and related terms"
pedo, pedophile, pederasty, ebe, ebephile

(all potentially vulgar sexual terms)

[2017-02-02 12:31] wooorm commented on #145
Thanks @glenlife. I can’t find much on `ebe`, `ebephile`, do you mean `hebephilia` related terms?

[2017-02-02 13:13] #145 closed

[2017-02-02 13:17] glenlife commented on #145
Ebe/ebephile is a term that refers to people sexually persuing older teenagers

[2017-02-02 13:18] wooorm commented on #145
Do you have sources for that?

[2017-02-02 13:29] glenlife commented on #145
https://en.wikipedia.org/wiki/Ephebophilia

[2017-02-27 14:49] Stumblinbear opened #159 "why though"
y

[2017-02-27 14:50] #159 closed

[2017-03-15 02:26] snood1205 opened #163 "Suggestion: add delirious"
Delirious is a word that is often used improperly like crazy.

[2017-04-11 12:50] agustingrigoriu opened #165 "Translation: Spanish"
I think would be a good idea to translate it to Spanish

[2017-04-13 19:30] fega commented on #165
I can help

[2017-04-13 20:16] timrubio commented on #165
how do you want to help

On Thu, Apr 13, 2017 at 12:30 PM, Fabian Gutierrez <notifications@github.com

[2017-04-13 20:37] fega commented on #165
I see Alex as a very interesting writing tool, I guess that will be great if it is translated or adopted in another languages

[2017-04-13 21:05] agustingrigoriu commented on #165
I agree, I like the concept, It should be adopted not only in Spanish but other languages

[2017-04-14 10:30] wooorm commented on #165
Hi folks! :wave:

We’ve discussed this a bit in GH-14 (and later GH-130). I’m all for multiple languages, but I can’t help with Spanish.

If you’re interested. Click “fork” on retext-equality, translate stuff, and publish! Afterwards, we can see how to integrate it into alex!

[2017-04-14 10:57] timrubio commented on #165
lol

On Fri, Apr 14, 2017 at 3:30 AM, Titus <notifications@github.com> wrote:

[2017-04-14 14:09] wooorm commented on #103
Fixed in [4.1.0](https://github.com/wooorm/alex/releases/tag/4.1.0)!

[2017-04-14 14:09] #103 closed

[2017-04-16 16:15] Haroenv opened #166 "“browser” is marked as insensitive because of “bro”"
Possible solution: test if the rest of the word is “browser”, then don’t mark as insensitive.

Alex v4.0.1

[2017-04-16 23:43] BelenValdivia commented on #165
Hello! I want to participate too.

[2017-04-17 07:45] wooorm commented on #166
Could you provide more info? I’m not seeing `browser` being incorrectly highlighted.

[2017-04-17 10:41] Haroenv commented on #166
Weird, I could definitely see it yesterday in my editor, but now it’s not marked as insensitive anymore.

Thanks anyway!

[2017-04-17 10:41] #166 closed

[2017-04-25 00:43] wesamco commented on #165
I agree, all languages of the world should be added, it would be weird if in 2035 (before singularity hits) only the English speaking western world, or potentially every English speaking person in the world, spoke sensitively and the rest of the world didn't..

English speakers
Native: 360–400 million (2006)
second language speakers: 400 million;
as a foreign language, speakers: 600–700 million
to

[2017-04-25 01:03] codezplz commented on #165
I agree, all languages of the world should be added, it would be weird if in 2035 (before singularity hits) only the English speaking western world, or potentially every English speaking person in the world, spoke sensitively and the rest of the world didn't..

English speakers
Native: 360–400 million (2006)
second language speakers: 400 million;
as a foreign language, speakers: 600–700 million
to

[2017-04-25 01:16] codezplz opened #167 "Arabic Support / core multi-language extensibility model?"
I think it would be a good idea to add support for Arabic.
but first we would still have to work on secularism, separation of religion and state, tolerance or in general not taking religious texts too seriously. ☹

aside from the sad-but-it's-true-reality jokes, I'm serious about helping out.
i'm a native Arabic speaker from.. the best place in the middle east you could possibly be in (OMG i'm so

[2017-04-28 15:36] lance0 opened #168 "this is fucking gay"
what a waste of time

[2017-04-28 15:39] yoshuawuyts commented on #168
You use "gay" as if it's an insult - it's not. Goodbye 👋

[2017-04-28 15:39] #168 closed

[2017-05-02 16:19] markcornick opened #169 "Ignoring messages does not work in versions later than 3.1.0"
None of the methods for [ignoring messages](https://github.com/wooorm/alex#ignoring-messages) work in `alex@latest`. Neither `.alexrc` nor `package.json` nor comments in Markdown are effective. The last known version supporting ignoring messages was alex 3.1.0.

[This gist](https://gist.github.com/markcornick/5d6588300c40c8936a8e9cc0544c368c) contains a script which will demonstrate this issue, an

[2017-05-02 16:21] markcornick commented on #169
Observed on macOS Sierra (16.5.0) with the following `npm version`:

[code]

[2017-05-02 19:27] wooorm commented on #169
Oh gosh, I haven‘t pushed alex@4.1.0 yet! 😱
I just did, I think it should work, could you check again?

[2017-05-02 19:32] markcornick commented on #169
`alex@4.1.0` does work, with no issues found at any point of my test script. Thanks!

[2017-05-02 19:32] #169 closed

[2017-05-02 19:39] wooorm commented on #169
Pfew, good!
Sorry about that, and thanks for reaching out! 🎉

[2017-05-04 15:46] wooorm commented on #167
That would be awesome! However, it does involve a lot of work.
I can help with that, but I can’t help with Arabic. Are you interested and able in taking this on?

[2017-05-04 15:47] wooorm commented on #167
Sorry, didn’t mean to close it yet.

[2017-05-04 15:54] wooorm commented on #165
Anyone interested in starting work on this?

[2017-05-12 07:33] fahad19 opened #170 "Ignoring files should not cause error"
## Problem

I am trying to run `alex` on a directory of markdown files, and one of the files there is ignored. And alex throws an error.

## Expectation

I think it should just silently ignore the file, without exiting with an error failing the build.

## Reproduce

To reproduce:

* Have two files in root: `README.md` and `MAINTAINERS.md`
* In `.alexignore`, ignore `MAINTAINERS.md`
* Run `$ alex *

[2017-05-12 07:36] fahad19 commented on #170
Travis-CI build output for reference: https://travis-ci.org/Travix-International/frint/builds/231453498#L1895

[2017-05-12 08:07] fahad19 commented on #170
if I modify `unified-engine/lib/finder.js:148` ([link](https://github.com/unifiedjs/unified-engine/blob/4ca617b880b022d08cd0356abb03f9c298e06ed6/lib/finder.js#L148
)) a bit, it works like I expect it to:

[code]

[2017-05-12 09:24] actionjack opened #171 "Running Alex via Travis CI throws an exception"
When I added alex --diff to my `travis.yml` Travis CI threw up the following error:

[code]

[2017-05-12 09:31] wooorm commented on #171
I think this should be okay if you use a newer version of node in travis (where `const` is supported). Could you check if that works?

[2017-05-12 09:33] wooorm commented on #170
Thanks for using alex, @fahad19, and hi!

This is intentional. Globs are expanded, and you’re saying like “get README.md and MAINTAINERS.md”, but then “don’t get MAINTAINERS.md”, and alex knows not what to do.

The simplest fix is probably to let alex find files itself: `alex .`
Could you check if that works?

[2017-05-12 09:54] fahad19 commented on #170
@wooorm: that worked! I will close this issue.

thanks for being so quick and helpful!

[2017-05-12 09:54] #170 closed

[2017-05-12 10:22] wooorm commented on #170
Great!  Sure, no problem, and glad to hear!

👋

[2017-05-12 11:51] actionjack commented on #171
Yep that works when I use node 6.0.0 thanks

[2017-05-12 11:51] #171 closed

[2017-05-12 11:58] wooorm commented on #171
Great! Thanks for using alex :)

[2017-05-17 15:35] wooorm commented on #167
@codezplz Ping!

[2017-05-17 15:36] wooorm commented on #165
@agustingrigoriu Ping!

[2017-05-23 00:38] agustingrigoriu commented on #165
I'm very sorry, i dissapeared because I started my thesis and also I began working. For the time being I can't find enough time to colaborate. I hope you can forgive me

[2017-05-30 14:08] agustingrigoriu commented on #165
I talked to a friend and he is interested in taking my place in this task. Please explain him what to do to contribute. And again, sorry for dissapearing.

[2017-05-30 14:18] ClaudioOliveda commented on #165
Hello, I want to take the place of Agustin.
Where are the files I should modify?
I await comments

[2017-05-30 17:38] waddlepon opened #172 "Issue: Make sure if word is pluralized it is still detected."
For example "slaves" wouldn't get detected while "slave" would.
[http://imgur.com/a/tzKer](url)

[2017-06-06 17:18] booyaa opened #173 ".alexrc - noBinary doesn't appear to work"
I may have misunderstood the purpose of the noBinary option, I thought it would remove (if set to `false`) warnings for retext-equality terms.

[code]

I did try setting `noBinary` to  `false` the didn't work either.

update: improved test case

[2017-06-08 10:41] wooorm commented on #173
Normally, `host or hostess` are considered okay, as both a male and a female form occur.
If you pass in `noBinary: true`, `host or hostess` isn’t okay, and you should use `presenter` or `entertainer` instead.

It seems you want to use the `allow` feature instead?

[2017-06-08 11:18] booyaa commented on #173
Hi,

The recommended alternative doesn't really make sense in the context of
Host computers. I'd be interested is alternatives...

Cheers.
On Thu, 8 Jun 2017 at 11:41, Titus <notifications@github.com> wrote:

--
Sent from Gmail BatMobile

[2017-06-08 11:23] booyaa commented on #173
I should also add that the 'allow' option doesn't allow you to override.

[2017-06-08 14:36] wooorm commented on #173
Well, you’re initial Q was this:

...and if you want to do that, you can use `allow: ["host-hostess"]`, or ``, but there’s no way to turn of all retext-equality checks: you can use `retext-profanities` directly if you want that!

Correct, alex isn’t smart enough to know how a word with different meanings is used. In this case, `` makes the most sense!

[2017-06-14 14:19] wooorm commented on #165
Sorry for the wait folks! Thanks @ClaudioOliveda for your interest!

The files that need to be translated are the YAML ones in [retext-equality](https://github.com/wooorm/retext-equality/tree/master/script).

For starters, I suggest the following workflow:

1. Fork `retext-equality`
2. Create a branch for Spanish
3. Translate the YAML files

...if those files are translated, we can see about makin

[2017-06-14 14:45] #172 closed

[2017-07-02 23:54] linyostorovoltos opened #174 "Suggestion: Add support for slang and word combinations."
For example, the word "niggerfaggot"  is perfectly clear, while it is indeed highly offensive! I was pretty disappointed when I found things like the above example and things like "boipussy" and other offensive words that aren't in the dictionary aren't recognized as offensive. Another example is the word "smallcock" which returns with no issues found.

[2017-08-25 10:58] DeeSnow97 commented on #86
Why is this closed? The issue is not resolved.

It's not even a technical limitation, you can change the default branch on GitHub.
https://help.github.com/articles/setting-the-default-branch/

[2017-08-31 11:33] pierreneter opened #175 "`node_modules` is not ignored by default."
Alex version: `4.1.0`

`node_modules` is **not** ignored by default.
When I run `alex` It checks everything in `node_modules` path.
I tried adding `node_modules` to the `.alexignore` but it still causes errors that make the tests not pass:
[code]

[2017-08-31 11:55] wooorm commented on #175
The word “default” here means if you’re using `alex`.

`node_modules` are also ignored if you’re passing in files and directories (`alex docs readme.md`).

`node_modules` are *not* ignored if you’re passing in globs that match files, as globs are often expanded by the shell: alex doesn’t see `**/*.md`, it gets for example `readme.md node_modules/something/readme.md`.

As a fix, use `alex .`, and t

[2017-08-31 12:14] pierreneter commented on #175
So about:

[code]

[2017-08-31 12:29] pierreneter commented on #175
I have tried, and `quiet`  flag doesn't work with `.`?

[2017-08-31 12:31] pierreneter commented on #175
I think I do not need to use the `--diff` flag for `travis-ci` now because the previous changes still need to be checked. After the process is complete, I will add it later.
So, thank you for the suggestion about this flag.

[2017-08-31 13:00] wooorm commented on #175
Not?

[code]

Could you provide information on how you’re running things?

[2017-08-31 13:06] pierreneter commented on #175
Oops, sorry, my typo.

[2017-08-31 13:09] pierreneter commented on #175
Thank you for explaining.
I feel satisfied with the script:
[code]

[2017-08-31 13:09] #175 closed

[2017-08-31 15:37] wooorm commented on #174
This project is primarily intended for technical documentation, and these words are highly unlikely to appear there.

This project is not intended to be a spam filter: there’s many ways to get around alex if that’s your goal, leetspeek, etc.

If you’d like to add profanities to be checked by alex, the right place to do so is a PR to [`profanities`](https://github.com/wooorm/profanities).

[2017-08-31 15:37] #174 closed

[2017-08-31 15:37] wooorm commented on #167
Closing due to no response.

Feel free to ping again and I’ll open it again if someone would like to work on this.

[2017-08-31 15:37] #167 closed

[2017-08-31 15:38] wooorm commented on #165
Closing due to no response.
Feel free to ping again and I’ll re-open this issue if someone would like to work on this.

[2017-08-31 15:38] #165 closed

[2017-08-31 15:40] wooorm commented on #163
Good one, thanks for the suggestion @snood1205!

If you’d like to add `delirious` to alex, the right place to do so is a PR to add a new pattern in [`ablist.yml`](https://github.com/wooorm/retext-equality/blob/master/script/ablist.yml) in [`retext-equality`](https://github.com/wooorm/retext-equality).

Would you be interested in helping out?

[2017-08-31 15:41] wooorm commented on #163
Oh and sorry for the late response!

[2017-08-31 15:42] #173 closed

[2017-08-31 15:47] snood1205 commented on #163
Certainly I can do that. No worries on the late response. Maintaining open source projects is a pain, so you're fine!

[2017-08-31 15:48] wooorm commented on #163
Great! Let me know if you need help with anything!

P.S. That’s a very kind response, thank you!

[2017-08-31 16:46] wooorm commented on #163
Fixed!

Thanks so much, @snood1205!

[2017-08-31 16:47] snood1205 commented on #163
No worries thanks for your help!

[2017-08-31 16:47] #163 closed

[2017-09-14 02:26] neoadventist commented on #141
As a Christian, I find this insensitive that Jesus is flagged but Muhammad is not. I think this repo may be suffering from western bias.

[2017-09-24 19:01] SheetJSDev opened #176 "package.json `allow` case sensitivity"
In context, the README is describing an option `WTF`, which is an offensive word according to alex.  The natural approach would put the offensive word within the `allow` block, but it seems to be case sensitive:

[code]

When the exemption is written in lowercase, everything works:

[code]

IMHO the exemptions should be case insensitive, especially for cases like WTF where the offending string is

[2017-09-26 17:00] wooorm commented on #176
The stuff you need to add to `allow` is this:

1:1-1:4  warning  Don’t use “WTF”, it’s profane  **wtf**  retext-profanities.

So if you see a warning, add that part (the rule identifier) to allow. Due to technicalities, it’s not easy to allow any value in there, but I’m definitely for better docs! Do you have a suggestion what to add where?

[2017-09-26 17:22] SheetJSDev commented on #176
- The README and documentation should be refreshed to reflect the current output format.  The rule is included as the penultimate column in the current version but I guess it wasn't presented when the docs were last updated.

Following the example from https://github.com/wooorm/alex#command-line , the README currently claims the output for the `example.md` is:

[code]

Running against the current

[2017-10-02 20:30] #176 closed

[2017-11-17 03:07] wooorm commented on #72
Closing for now, I’m still super open to it, but I don’t have time for it (apparently) on my own backlog. If anyone wants to work on this: ping me!

[2017-11-17 03:07] #72 closed

[2017-11-21 19:22] ELLIOTTCABLE commented on #72
Is there a particular reason to leave this closed, despite it being an outstanding issue? It's totally okay to not have time to work on something — but I'd consider this a rather major problem with Alex, as it stands; and having an Issue like this standing out on the Issues page is the most effective way I can think of for an unmaintained project to encourage visitors to possibly contribute!

(Hop

[2018-01-16 01:28] suicidal opened #178 "Countries labeled as profane"
I recently ran a writing through your system about western / central Africa and I noticed that your system detected the country of "Niger" as a profane word, same for the term Africa.

[2018-01-16 11:05] wooorm commented on #178
Hey!

Africa is already marked as an unlikely profanity, and I just did the same for Niger in the lower-level `cuss` module, as the words can still be used as a profanity. alex isn’t very smart, but it can help find things you may have forgotten. Anyway, you’re the human, you’re much smarter than alex.

Thanks for reporting!

[2018-01-16 11:05] #178 closed

[2018-02-08 22:12] jeremenichelli opened #179 "An insensitive word sorrounded by commas is not detected"
**Issue:** sensitive word is not detected when it has a comma before and after it.

**Version:** current version running in the demo site.

Here's an example, when the word has a comma after it, it gets detected.
![captura de pantalla 2018-02-08 a la s 23 09 41](https://user-images.githubusercontent.com/3856481/36001090-73a65240-0d25-11e8-8387-e10dc9794d4e.png)

Also when a comma is before it:
![c

[2018-02-08 22:44] Kingles opened #180 "Warnings still proscribe corrections when they may be better presented as suggestions"
Language choice is nuanced and at times difficult. If a warning is thrown, it may be received and therefore acted upon more positively if phrased as a suggestion.

e.g.
[code]
could be phrased as
[code]

I'm happy to help implement this, if there's any kind of approval or traction for it.

[2018-02-08 23:21] gunterja commented on #180
*prescribe
work on spelling before semantics.

[2018-02-16 11:40] zakattak opened #181 "Penis is labeled as profane, but vagina is "maybe profane""
Having a consistent label for the two genitals seems to be necessary.

[2018-02-16 11:44] zakattak commented on #181
I just realized you're pulling this from retext - I'll open the issue there.

[2018-02-16 11:47] zakattak commented on #181
Actually, after a small amount of digging, I'm not sure where the weight comes from for these two words. Let me know which repo I should create a new issue in.

[2018-02-16 11:57] wooorm commented on #181
Hi @zakattak! It’s from cuss: https://github.com/words/cuss. You can open a PR / issue there. I’m not sure which weight to choose for either words though, but I guess syncing them makes sense.

[2018-02-16 12:05] zakattak commented on #181
Yep, I think it's personal preference - I would say both of them are "maybe profane", because they are the anatomically correct words for genitalia. There are proper places to use those words. Again, it's my personal preference though, other people might not feel the same way.

[2018-02-16 12:11] zakattak commented on #181
I've opened a PR there. Thanks!

[2018-02-16 12:11] #181 closed

[2018-03-02 06:38] ahmad2smile opened #182 "What Hitler, Mao and Stalin have common with this Repo"
Well, They all started with banning words. Any great civilization in human history it started with the Freedom of Speech and Freedom religion. Starting from Sumerians almost a 6000yrs ago. Successful civilizations started with religion and speech that led to great thinker and traders which in turn brought multiculturalism and all of those failed when they started to cling to specific religion or s

[2018-03-02 09:16] optikfluffel commented on #182
![WHAT?](https://user-images.githubusercontent.com/379915/36891684-b9be08c0-1e02-11e8-8e5f-2161c2e02a55.gif)

[2018-03-02 14:46] seanohue commented on #182
so glad to contribute to a repo that will bring about the end of western civilization

[2018-03-02 17:08] wooorm commented on #182
Aww, with a title like that I expected a joke about serial commas, but alas...

![comma-comma](https://user-images.githubusercontent.com/944406/36911574-3ddf04ec-1e44-11e8-978d-0d625d7ce03d.jpg)

We as a community prefer not to be addressed as “you guys”.

Finally, with regards to what I think you’re trying to tell us, @optikfluffel’s response is pretty apt:

...especially the lion king gif! 👍

[2018-03-02 17:08] #182 closed

[2018-04-01 15:00] lschumm opened #183 ""Boogey" isn't a word, and "boogie" is discriminatory"
The website uses "boogeyman" as an example of where the `-man` prefix can be deleted, removing the gender connotations of the word and maintaining the same meaning. However, the definition of "boogeyman" is (according to dictionary.com):

It suggests correcting to "boogey", which either is

or

In a context of referring to an individual as a "boogeyman", this could likely change a (gendered) term

[2018-04-01 15:04] lschumm opened #184 ""Convierge" suggested instead of "concierge" for door-(gender)"
When I type `doorman` or `doorwoman`, it suggests `convierge` instead of `concierge`.

[2018-05-25 22:20] nornagon opened #187 "Excessive scrollbars on demo"
Hi there! 👋 Thanks for working on this project! I think it's a fantastic tool :)

I noticed a minor issue on the website—on a Mac with a mouse plugged in, the demo messages are obscured by scrollbars:

<img width="567" alt="alex_-_catch_insensitive__inconsiderate_writing" src="https://user-images.githubusercontent.com/172800/40568346-f6cec024-602e-11e8-9972-26fb761af316.png">

[2018-05-25 23:14] brenca commented on #187
I think it's not just mac.
![image](https://user-images.githubusercontent.com/1690458/40569468-234a228a-6082-11e8-9813-6bcf848a2be9.png)

[2018-06-20 19:24] hiimbex opened #188 "Suggestion: add better checks around host-hostess"
Hello there! My team uses [linter-alex](https://probot.github.io/apps/linter-alex/) to lint PRs, and ran into a this [check](https://github.com/probot/hello-world/pull/5/checks?check_run_id=4591249) which is failing for [this](https://github.com/probot/hello-world/pull/5/files#diff-04c6e90faac2675aa89e2176d2eec7d8R29) use of "host". Not a huge deal, but I'd prefer if our checks passed and since th

[2018-06-24 21:07] StarpTech opened #189 "Pipe mode can't work"
Hi, awesome work! I use it as a reference for the `unified-engine`. I noticed that

[code]
or [here ](https://github.com/wooorm/alex/blob/master/cli.js#L59) can't work because the `files` option is always set and therefore the std stream is ignored. In my project I use a flag called `--stdin` to indentify the pipe mode and wheather he wants to redirect the output to a file or to stdout.

[2018-07-25 21:05] waldyrious commented on #181
Link for future reference: https://github.com/words/cuss/pull/14

[2018-08-23 08:03] wooorm commented on #179
This is a feature. These words, [literals](https://github.com/syntax-tree/nlcst-is-literal#usage), are ignored!

[2018-08-23 08:03] #179 closed

[2018-08-23 08:05] wooorm commented on #180
Those messages are generated by [`retext-equality`, here](https://github.com/retextjs/retext-equality/blob/00e8017d7b68fe54b48915b67c3de4ae00715fdb/lib/index.js#L273). I think it would be great to have better wording.

Want to talk over there?

[2018-08-23 08:05] #180 closed

[2018-08-23 08:07] wooorm commented on #183
True! Could you do a PR to [change this line](https://github.com/retextjs/retext-equality/blob/df243a83774b109d9f35d26e4869355a7f9cc1b6/script/gender.yml#L557) with something else then?

[2018-08-23 08:07] #183 closed

[2018-08-23 08:16] #184 closed

[2018-08-23 08:27] #187 closed

[2018-08-23 08:27] wooorm commented on #187
Done!

[2018-08-23 08:44] wooorm commented on #189
Any suggestions on what we should do?

I’m thinking something along the following pseudo-code lines:

[code]

/CC @sindresorhus - What do you think?

[2018-08-23 08:59] sindresorhus commented on #189
Here's how I handle it: https://github.com/sindresorhus/strip-css-comments-cli/blob/ac32c3a959b3bc7cfc6c994b48c05b747bf9260b/cli.js#L34-L43

[2018-08-23 09:18] wooorm commented on #189
Right, but we have [default globs](https://github.com/wooorm/alex/blob/d2fde314a5b1b0d441faaef53d8d73d87e28fa30/cli.js#L76-L81) if there’s no input 😬

[2018-08-25 16:50] #189 closed

[2018-08-26 07:50] wooorm commented on #188
Hi Bex! 👋

Thanks for chiming in. This is not something that can change: alex isn’t very smart in catching things, it has no sense of context, and that’s what is needed to be able to deal with this case.

However, there are several ways to ignore messages. You can ignore `host` in all files by [allowing](https://github.com/wooorm/alex#ignoring-messages), or in this specific case with [disable or i

[2018-09-14 04:54] riley-martine opened #191 "Consider adding w0rp/ale for vim to alexjs list of integrations"
### Subject

On the "Integrations" section of alexjs.com, consider adding [ale](https://github.com/w0rp/ale), which will automatically use alex to lint files in vim.

[2018-09-16 08:32] wooorm commented on #191
Sure, PR welcome!

[2018-09-16 14:09] riley-martine commented on #191
I've sent two PRs (one for [readme](https://github.com/wooorm/alex/pull/193), one for [website](https://github.com/wooorm/alex/pull/192)).

[2018-09-16 15:43] #191 closed

[2018-09-16 15:44] wooorm commented on #191
Thanks Riley!

[2018-09-26 12:33] gretzky opened #195 "Superlatives"
<img width="520" alt="screen shot 2018-09-26 at 8 29 03 am" src="https://user-images.githubusercontent.com/15176096/46079844-4730b700-c166-11e8-831a-223e7d49a95c.png">

I'm not sure which module this would fall under, but it seems that superlatives of words aren't caught- at least in the case of this word here. Technically, this word is grammatically correct.

[2018-09-26 13:23] Qix- opened #196 "Alex checks words, not intent."
Hear me out. This isn't a troll post (I don't troll Github). See the bottom section for suggestions on how to improve Alex.

Also, apologies to anyone named Janet. I don't know any Janet's so I chose that name.

That snippet is 100% okay with Alex - not so much as a warning. I don't think anyone would disagree on it being insensitive or inconsiderate.

Now let's take a look at a feasible (but comp

[2018-09-26 20:48] wooorm commented on #196
Hey again Josh. I’m sorry, I’m not going to be able to spend as much time on a response as you did on this write-up. I simply don’t have enough time in my life right now as I used to.

I need alex. I needed alex when I wrote my thesis and created alex. My friends need(ed?) alex as well. That’s why it’s here and why it’s open source.

I think the idea of alex is more useful to a lot of people than

[2018-09-27 06:40] Qix- commented on #196
Hi @wooorm, very thoughtful response.

I know I write super long posts but I'm attempting to approach this thoughtfully and delicately. The last thing I want is to have this issue be misinterpreted as malicious.

With the current climate of varying opinions on identity politics, a post like mine could be considered either insightful or blasphemous, depending on the person. There's really no way to

[2018-09-27 12:42] wooorm commented on #196
Thank again Josh. Let’s split this up though.

1.  Investigate sentiment detection
    * investigate if afinn / retext-sentiment are enough
2.  Suppression of speech
    * Could you look into the readme and the website, and open issues for small problems? I’d like to use those issues for hacktoberfest to get first-timers into open source.
    * Bigger stuff could be PRs!
3.  I like your data-model

[2018-09-27 12:47] wooorm opened #197 "Add first timers only badge to readme"
### Subject of the issue

We have a label for it, and this issue is for first timers, but we should announce that in the readme, next to travis and hacktoberfest.

### Steps to reproduce

View readme on GitHub.

### Expected behaviour

There should be a nice badge. Something like:

[![First timers friendly](https://img.shields.io/badge/first--timers--only-friendly-blue.svg)](https://www.firsttimer

[2018-09-27 12:48] wooorm opened #198 "Add docs on how to contribute to the website"
### Subject of the issue

There are some issues with the website that could use some help, but there’s no documentation detailing on to work on the website.

### Steps to reproduce

1. Go to [`contributing.md`](https://github.com/get-alex/alex/blob/master/contributing.md)
2. View the `Contributions` section

### Expected behaviour

There should be a section detailing website contributions there. S

[2018-09-27 12:48] wooorm opened #199 "Add a note about hacktoberfest to the website"
### Subject of the issue

The repo for alex has a badge, and there’s some [issues](https://github.com/get-alex/alex/labels/hacktoberfest), but there’s nothing on the website.

### Steps to reproduce

Go to [the website](https://alexjs.com)

### Expected behaviour

There should be something about hacktoberfest there. Maybe something small, or maybe we could colour the background orange?

### Actual

[2018-09-27 12:49] wooorm opened #200 "Add a GitHub corner to the website"
### Subject of the issue

There’s one small link on the website, to GitHub, but a [GitHub Corner](http://tholman.com/github-corners/) would be clear.

### Steps to reproduce

Go to [the website](https://alexjs.com)

### Expected behaviour

There should be a clearly visible way to go to GitHub.

### Actual behaviour

There is no such reference 😢

[2018-09-27 12:53] wooorm opened #201 "Add support for HTML as an input language"
This issue is a bit bigger and harder than most others, but I think it would be quire valuable.

Similar to how [remark](https://github.com/remarkjs/remark) is used as a basis for markdown, we could use [rehype](https://github.com/rehypejs/rehype) for HTML!

[2018-09-27 14:09] wooorm opened #202 "Internationalisation"
### Subject of the issue

Alex, for now, supports just English, but retext could work with other Latin-script languages.

* We could support other languages in [`retext-profanities`](https://github.com/retextjs/retext-profanities), as there are several open lists of potential profanities in other languages
* We could support other languages in [`retext-equality`](https://github.com/retextjs/retext

[2018-09-27 20:06] cunhazera commented on #199
@wooorm could I put some note at the Contributing section?

[2018-09-28 07:01] wooorm commented on #199
Hey @cunhazera! Do you mean https://github.com/get-alex/alex/issues/198?

[2018-09-28 14:00] devkant commented on #198
I would like to do it

[2018-09-28 14:19] SleeplessByte commented on #196
Hi there! I don't know if it's appropriate to join this conversation and I really don't want to detract form the points being made; as someone who's on the the spectrum and from a blatantly forward (and usually "rude") culture, I was very intrigued seeing this in my feed.

That said, I think an additional / complementary issue is with the README and the description, which makes Alex pretend to be

[2018-09-28 15:21] wooorm commented on #198
Hi @devkant, thanks for offering! I suggest waiting for october 1st, so as to participate in hacktoberfest if you’re into that. But yeah, feel free to take a stab at it now, and let us know if you need help.

[2018-09-28 17:07] cunhazera commented on #199
@wooorm Oh, no. I did not know about that issue.

[2018-09-28 17:11] wooorm commented on #199
No problem, feel free to help out with that one!

[2018-09-29 19:43] Hypnosphi commented on #84
FYI: this is actually possible, see [my fork](https://github.com/Hypnosphi/alex)

You need to create and push `primary` branch, then go to [Branches settings](https://github.com/get-alex/alex/settings/branches) and set it as default branch. After that, you'll be  able to remove the M-word branch completly on [Branches tab](https://github.com/get-alex/alex/branches)

[2018-09-30 06:32] Redarcher9 commented on #200
Hi there,I'm new to open-source community.Can I work on this issue?

[2018-09-30 07:36] #197 closed

[2018-09-30 07:37] wooorm commented on #200
Hi @Redarcher9! Yes, please!
I’d suggest waiting till tomorrow to participate in [hacktoberfest](https://hacktoberfest.digitalocean.com) though! 🎃

[2018-09-30 08:37] Redarcher9 commented on #200
Thankyou @wooorm !I am familiar with javascript but haven't used Node.js before.Can you help me figure out what things do i need to learn before contributing to this issue?

[2018-09-30 08:48] wooorm commented on #200
If you’ve installed Node already, you should be fine following the [contributing guides](https://github.com/get-alex/alex/blob/master/contributing.md).

Note that the website is on the `website` branch, and the file you‘re looking for to add the corner is `src/index.html`. If you change that, and run `npm test`, all files are minified and built to the `dest` directory. If that looks file, you’re d

[2018-09-30 18:59] hiteshpr commented on #198
HI, can I work on this?

[2018-09-30 19:49] wooorm commented on #198
@hiteshpr Let’s wait for @devkant, he responded first!

[2018-09-30 20:12] meetcric commented on #200
Hi there,Can i work on this issue?

[2018-09-30 20:17] wooorm commented on #200
@meetcric Let’s give @Redarcher9 a shot first!

[2018-09-30 20:27] meetcric commented on #200
@wooormI think @cunhazera is working in #199. should I start to work on that issue?

[2018-09-30 20:28] wooorm commented on #200
I believe he misplaced his comment, so I think you're free to work on that one!

[2018-09-30 20:28] cunhazera commented on #200
@meetcric no, I'm not. That's all yours :)

[2018-09-30 20:34] meetcric commented on #200
@wooorm can u explain this issue in details please?

[2018-10-01 16:04] cynferdd opened #207 "Internationalisation - Help with French"
### Subject of the issue

As instructed in the #202 post, I created this issue in order to start something about translating in french.
I may be able to help.

[retext]: https://github.com/retextjs/retext

[equality]: https://github.com/retextjs/retext-equality

[profanities]: https://github.com/retextjs/retext-profanities

[2018-10-01 16:56] AurelieBayre commented on #207
I would be interested in helping too.

[2018-10-01 17:46] AidenMead commented on #199
Hey! I was hoping maybe I could add a little something for this issue? I was thinking something minimalist (to stick with the over-all style) but something to make sure people know about the Hacktoberfest contribution options.

Would that be okay?

[2018-10-01 19:22] wooorm commented on #199
Hi @AidenMead, yes, that would be great! I’d love a PR, and make sure to share your progress early. I think this issue could be fixed in many different ways, so let’s talk about it when you have something we can discuss.

And feel free to ask us for any tips :)

[2018-10-01 19:30] wooorm commented on #201
I don’t think so, but I don’t know.
But maybe it works to split this up, e.g., someone work on the API (`index.js`), someone else on the docs, someone on the CLI, etc. If someone starts, we can open new issues for the other parts.

[2018-10-01 19:39] wooorm commented on #198
@devkant Not sure if @hiteshpr Is still working on this, so feel free to take a stab at it. Or anyone else :)

[2018-10-01 19:49] wooorm opened #208 "Investigate sentiment detection"
### Subject of the issue

One thing alex lacks, is that it doesn’t detect very negative (but not profane) sentiment. There’s no place for that in docs, and maybe alex should check for negative sentiment as well.

### Potential behaviour

Maybe we could use something like [`retext-sentiment`](https://github.com/retextjs/retext-sentiment).

Supersedes GH-196.

[2018-10-01 19:51] wooorm opened #209 "Investigate a “machine-learned” algorithm"
### Subject of the issue

alex, through retext-equality and retext-profanities, currently checks for words. But maybe it’s possible to teach it, through a big pile of “good” and “bad” texts, to learn whether texts are desired (or not).

Supersedes GH-196.

[2018-10-01 19:51] wooorm commented on #209
Note that there are some bad examples of racist algorithms. I’m doubtful if this would work.

[2018-10-01 19:58] wooorm opened #210 "Add support for dictionary-like conditions"
### Subject of the issue

`retext-equality` and `retext-profanities` messages are pretty polarising, and expect the worst of the writer. We should add something of a conditional in messages.

### Steps to reproduce

For example:

[code]

### Expected behaviour

It could yield:

[code]

### Actual behaviour

Yields:

[code]

### Proposed solution

In `retext-equality`, wou could add a [`condition`

[2018-10-01 19:58] wooorm commented on #210
Also related to GH-72.

[2018-10-01 20:00] wooorm commented on #196
I opened a few new issues to individually work on the things I highlighted above. @Qix-, feel free to work on point 2 of https://github.com/get-alex/alex/issues/196#issuecomment-425076007 if you’re into that.

I’m closing this now, and hope to discuss stuff on the new issues!

[2018-10-01 20:00] #196 closed

[2018-10-01 20:04] wooorm commented on #210
Note also that this is a pretty big issue, it’ll require many conditions to the prebuilt files!

[2018-10-01 20:04] wooorm commented on #188
@hiimbex Ping :)

[2018-10-01 20:06] wooorm commented on #195
@gretzky Sorry for the slow reply. To get a new profanity in there, you need to PR to [`profanities`](https://github.com/words/profanities/blob/master/script/rest.txt), and then when that’s released, to [`cuss`](https://github.com/words/cuss). Then it’ll be automatically in retext-profanities and alex as well!

for the duplicate warnings, that could be another issue, to ignore profanities if they’

[2018-10-01 20:47] hiimbex commented on #188
Hi @wooorm! sorry for the delay. I'm totally in support of all these ideas, but I'm really swamped right now, so I doubt I'll have the bandwidth to work on this anytime in the near future.

Feel free to close this out if you don't think anyone will be able to work on it anytime soon.

[2018-10-02 05:35] cynferdd commented on #207
Looking at the way the projects are made, I think your approach is good. I can take care of the profanities project, to start with.

[2018-10-02 06:53] wooorm commented on #188
Thanks for getting back to me, Bex!
Well in that case I’ll close it for now, but I’d like to collaborate on it if you’re up for it in the future!

[2018-10-02 06:53] #188 closed

[2018-10-02 22:30] svcastaneda commented on #200
@TJScalzo I don't think that idea complies with [GitHub's logo usage guide](https://github.com/logos) mostly because of the animation and _possibly_ the usage of a purple background instead of a white or dark grey color

[2018-10-02 22:48] TJScalzo commented on #200
@svcastaneda Does that mean the current GitHub corner is breaking their branding standards? The person who designed the corner seems to show it being used in a variety of color combinations on [his site](http://tholman.com/github-corners/). If the animated corner goes against GitHub’s logo rules, should we be using it at all?

[2018-10-03 00:41] CRomano31415 commented on #202
I see the issue in [retext-profanities](https://github.com/retextjs/retext-profanities/issues/8). I'll start putting a list in Spanish together 👍🏼

[2018-10-03 02:38] strongSoda commented on #199
Hey there, I would like to help on this issue. Can I get started on it?

[2018-10-03 02:40] strongSoda commented on #201
I would look into the API part.

[2018-10-03 08:15] JekRock commented on #202
Does it support only Latin languages? I can help with Russian and Ukrainian.

[2018-10-03 08:38] deatheguard commented on #202
I can help with French and/or English!

[2018-10-03 08:39] deatheguard commented on #207
I can help with French as well! And I really want to!

[2018-10-03 11:18] riley-martine commented on #201
Since I didn't see any forks, I started over at https://github.com/riley-martine/alex

If anyone who actually knows Javascript could review [what I've done so far](https://github.com/riley-martine/alex/commit/437d07546fed324350fecc20e6a2ddeecd147446), I would appreciate it.

[2018-10-03 16:30] wooorm commented on #201
Thanks @riley-martine. Could you create a PR for that? That makes it easier to review :)

What I didn’t mention before, is that an HTML processor should ignore all stuff that is not readable text. I think we should ignore things in `<script>`s or `<style>`s for example.

Another thing: If both markdown and HTML are in the default globs, we need to check files to see if they are either Markdown or

[2018-10-03 16:39] wooorm commented on #202
@CRomano31415 Please do! Feel free to open a new issue / PR about Spanish

@JekRock Under the hood, mainly Latin-script languages are supported. Cyrillic could potentially work. See [`parse-latin`](https://github.com/wooorm/parse-latin) for the main parts about it.

@deatheguard French would be great. Looks like you found GH-207 already. For English, you can just help with [`retext-profanities`](h

[2018-10-03 16:47] wooorm commented on #207
@deatheguard Perfect! You can help review https://github.com/words/cuss/pull/15, or maybe start work on `retext-equality`? 💪

[2018-10-03 17:00] CRomano31415 opened #212 "Internationalisation -- Help with Spanish"
### This issue stems from the Inernationalisation issue #202

### Currently working on:

*  Gathering list of words in Spanish, to be placed in sp-json file, get one started so we can modify!

### Current challenges:
* how to tag lists of words as there is considerable difference in meaning based on geographical areas, ideas?

[2018-10-03 17:49] wooorm commented on #212
@CRomano31415 Nice! 🎉

Push early so people can help 👍

Depends, are you working on profanities or equality?

[2018-10-03 19:31] wooorm commented on #212
In case of profanities, maybe there’s some lists like this already out there!

[2018-10-03 20:00] tmott13 commented on #199
I created a pull request for this issue 👍

[2018-10-04 05:03] erickzhao commented on #208
Hey, that sounds like a really interesting idea. I've seen something similar used in a [GitHub app](https://probot.github.io/apps/sentiment-bot/) before, but they were using [Perspective API](https://github.com/retextjs/retext-sentiment) instead, which seemed to target conversational sentiment. Not sure how much of a difference that would make?

Is this an issue that needs more investigating in ge

[2018-10-04 07:41] wooorm commented on #208
Hi @erickzhao 👋

This is still a very vague issue, but awesome that you’re interested!
We came up with it in #196, but we’re not entirely sure whether it’s useful or feasible.

The perspective API is super interesting! I’m not sure if we should send all docs over the network though. And I’m not sure about the fact that it focusses on comments, and whether it would work for us.

A first step could

[2018-10-04 10:49] AhmedRedaAmin commented on #202
Can I add support for Arab Latin-Script Slang ? (Used heavily on Social media)
Note : it includes numbers for some Arabic sounds , if that will cause problems for `parse-latin`

[2018-10-04 13:48] baezor commented on #212
Which is the status? How can I help? @CRomano31415

[2018-10-04 14:56] CRomano31415 commented on #212
I've found some lists in discussion boards, there are no official ones that I have been able to find. But you can start putting it together.

[2018-10-04 18:40] wooorm commented on #202
@AhmedRedaAmin Yes, feel free to do that, and create a new issue for it!

I’m not sure, I don’t know Arabic, let’s try it out!

[2018-10-04 18:41] #198 closed

[2018-10-04 18:43] wooorm commented on #201
Alright, we’ve got the CLI! Now we need the same functionality for the API, docs, and better tests. Anyone up for helping with those?

[2018-10-04 18:56] #199 closed

[2018-10-04 20:50] MrBenJ commented on #212
Que paso?  Se habla espanol! Puedo ayudar.

What's up? I know how to speak Spanish. I can help. I know a few inappropriate Spanish words and can contribute. Is it in the `sp-json` file?

[2018-10-04 21:04] MrBenJ commented on #212
@CRomano31415 - I _think_ the international 2 character code for Spanish is `es`, not `sp`. Do you think the file should be named `es-json` instead?

http://www.loc.gov/standards/iso639-2/php/code_list.php

[2018-10-04 21:14] CRomano31415 commented on #212
@MrBenJ Sounds good, do you want to start it? I have a huge list of words that I'm cleaning up but wasn't sure how to code them since some are not profane in some countries, but then I realized if it's profane to some, it should be flagged as profane so I'm almost done cleaning up. If you upload a json, I can add to it. I was looking at fr-json and I wasn't sure what the numbers next to the words

[2018-10-04 21:37] CRomano31415 commented on #212
Well, that is a great question, because I could have sworn I saw `fr-json` not too long ago in one of the remarks... This [issue](https://github.com/words/cuss/pull/15) points to it, but now I can't find it either.

[2018-10-04 22:21] CRomano31415 commented on #212
Ok @MrBenJ here's the list cleaned up [list](https://github.com/CRomano31415/SpanishProfanity/blob/master/list) We need help with ppl picking the profane terms (not all of them belong in profanity - some may belong elsewhere) and adding them to a json (in the right location - not sure where that is at).

[2018-10-04 22:58] MrBenJ commented on #212
Hey @CRomano31415 - I wrote a little script to JSONify your list and added a couple of words that weren't on there. I made a pull request to your own repo here:

https://github.com/CRomano31415/SpanishProfanity/pull/1

In the comments, I mentioned that I set everything to a value of `2` for the time being.

My coworker @fportela-ns actually helped out a little bit with some insults that were missi

[2018-10-04 23:13] CRomano31415 commented on #212
Awesome!! I have no idea where to put that JSON file here, maybe @wooorm can guide us? Titus, we have a JSON file with spanish profanity, which repo do we add it to?

[2018-10-04 23:14] MrBenJ commented on #212
Hey @CRomano31415 - My coworker @fportela-ns wants to help out and he's a native Spanish speaker. We found a few words in there that don't quite belong `chancla` is similar to `sandal` and `aguacates` is @fportela-ns 's favorite food. He's gonna fork that repo and start working on it

[2018-10-04 23:15] MrBenJ commented on #212
Also, as a fun side note, how many times in one's life can you say, "I have a file with Spanish profanity! Where do I put it!?" I'm giggling over here.

[2018-10-04 23:30] CRomano31415 commented on #212
I feel pretty good that my contribution to society today has been a list of profane words.
Yes, please @fportela-ns pull and fix. To be transparent, I just kind of scraped the web and cleaned it up LOL I didn't quite invest the time in modifying it. And also some words have different meaning in different countries so...idk what to do about those...

[2018-10-05 00:53] fportela-ns commented on #212
hey @conorhastings have the PR ready 😄 honestly there are a LOT of words that I've no idea what they mean haha. But here's my contribution https://github.com/CRomano31415/SpanishProfanity/pull/2.

I just removed a few words that I consider can be profane in any way, and marked as `1` words that are profane but only depending on the context

[2018-10-05 05:18] inesbenomar18 commented on #202
I can help with Arabic and French as well! :)

[2018-10-05 08:58] #201 closed

[2018-10-05 09:09] wooorm opened #219 "Add more notes to messages"
### Subject of the issue

alex has a nice little feature, on the command line, so that it shows a bit more information on why it tells you about stuff, if you run alex like so: `alex --why some-file.md`

An example of how this works can be seen for the pattern that suggests alternatives for [`hearing impaired`](https://github.com/retextjs/retext-equality/blob/f4bae5971dc671a37f0d43b3d0b2b75d33af27

[2018-10-05 09:17] wooorm commented on #212
@fportela-ns You mean @CRomano31415 I think 😉

This looks like a really good start! Awesome work all!
How do you all want to proceed? How can I help?

[2018-10-05 09:19] wooorm commented on #202
@inesbenomar18 Awesome! For french, start with GH-207. And feel free to open a new issue about Arabic (note though that I think Arabic-script may not be properly supported)

[2018-10-05 10:28] annakau commented on #219
I could try to add some notes

[2018-10-05 20:57] AhmedRedaAmin commented on #202
Okay , so I noticed there were 2 approaches to adding new languages , so I 'll take @CRomano31415 's approach , I already started by borrowing her repo template , I hope you don't mind Claudia !

[2018-10-05 21:07] AhmedRedaAmin opened #220 "Internationalisation -- Help with Arabic in Latin Script"
### Subject of the issue

Working on the Internationalization issue #202 , this time with Arabic Latin-Script Slang.

### Requirements :
*   Compile a list of Arabic Slang in Latin Script , then rate its likelihood to be profane according to the [cuss](https://github.com/words/cuss) scale.

### What to be expected :
*   I am completely open to pull requests on the [repo](https://github.com/AhmedRe

[2018-10-06 16:56] wooorm commented on #220
Awesome @AhmedRedaAmin!

[2018-10-06 20:13] AhmedRedaAmin commented on #212
@MrBenJ  Hey ! can you pass over the jsonify script you used on the list ? , I will very much need it actually :'D

[2018-10-06 21:03] agans commented on #219
Hi, I opened a PR to help contribute to this issue, if anyone would like to take a look - thanks! https://github.com/retextjs/retext-equality/pull/51

[2018-10-06 22:02] AhmedRedaAmin commented on #220
hey @wooorm  , can you put the labels mate ? The hacktober fest , beginner friendly , help-wanted ,the whole shabang , let the Arab bois have fun will ya :'D.
Also I'm exhausted this is way difficult due to transcription and the fact that there is near to 9 dialects and the lack of sources and a whole other host of problems , I managed to compile like a 130+ something actually , all while trying t

[2018-10-06 22:57] jonyeezs commented on #210
Is there a way we could split this issues into multiples TODOs that can be tackled individually?

[2018-10-07 03:31] MrBenJ commented on #212
Hey @AhmedRedaAmin

Sure thing. I whipped up an NPM package for you as a CLI tool:
https://www.npmjs.com/package/wordlist-to-json

Here's the git repo if you feel like contributing :)
https://github.com/MrBenJ/wordlist-to-json

You can install it globally with:
[code]

And use it like this:
[code]

Hope you like it :)

[2018-10-07 07:17] wooorm commented on #220
@AhmedRedaAmin I added help wanted and hacktoberfest (though those don’t affect your progress with hacktoberfest, they will help people find them easier).

I’d suggest starting with a small file, with only a few cases. And then let other people help to add more.
It doesn’t have to be everything all at once.
And that’s also why I don’t think beginner-friendly works yet, because we first need a base

[2018-10-07 07:28] wooorm commented on #210
@jonyeezs Hmm, it can be split up by first doing one initial condition, and writing the code for that, and then slowly porting the rest of retext-equality over? 🤔

[2018-10-07 07:29] wooorm commented on #210
Would you like prefer issues for that?

[2018-10-07 11:29] jonyeezs commented on #210
yeah slowly porting over seems less overwhelming.

I guess i may have posted a silly statement. As someone new to this project, I'm not sure what I'm dealing with.

But I love the mission of what alex is and would love to contribute.

_Side-note: This is inspiring me to create a chrome extension! But that would be for another future date XD_

[2018-10-07 15:40] wooorm commented on #210
@jonyeezs Oh don’t worry about it, it’s not silly at all :) I’m sure other people have the same question, thanks for asking it.

would you be able and are you interested to work on the first `condition` and the initial code?

Please do! It’s also not easy, probably hard, though. Some people have tried but never finished it!

And thanks for your lovely comments about alex, I appreciate it 🤗

[2018-10-07 18:14] IfeanyiEkperi opened #221 "Suggestion: add…"
##Too much negative whitespace on the footer

The footer segment is too large on mobile.

There is too much negative whitespace on the footer. Consider reducing the WHITESPACE to fit text

[2018-10-07 18:44] Murderlon commented on #221
Hi @IfeanyiEkperi, thanks for the issue! However, It seems this comes down to opinionated styling. All the `section`'s deliberately have `min-height: 100vh` which means every `section` will take up your entire screen. As it seems this was the original intend, I'd consider this a non-issue. :)

[2018-10-07 20:18] AhmedRedaAmin commented on #220
Done the first json upload @wooorm .

[2018-10-08 14:50] laurenmayers opened #223 "Add functionality to down arrow on landing page"
### Subject of the issue

Add functionality to white down arrow on landing page view so that the page scrolls down to content when clicked:

<img width="650" alt="screen shot 2018-10-08 at 10 44 33 am" src="https://user-images.githubusercontent.com/35752699/46615811-2c0b6300-cae7-11e8-8049-e268350230f1.png">

### Your environment

*   MacOS 10.14
*   Node v8.11.3 and npm v6.4.1, Chrome v69.0.3497.

[2018-10-08 15:49] Murderlon commented on #223
@laurenmayers seems like a perfect first issue to pick up here 👍

Do you already have an approach an mind? It could be as simple as an `<a href="#content">icon</a>` and a `<section id="content">...</section>`. If you are feeling adventurous, you could look into [`Element.scrollIntoView()`](https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollIntoView) as a [progressive enhancement](https

[2018-10-08 15:55] brycekahle commented on #210
@wooorm I made an attempt on the code side of things in `retext-equality`. See https://github.com/retextjs/retext-equality/pull/55

[2018-10-08 17:36] wooorm commented on #220
@AhmedRedaAmin No I’d suggest creating a pull request as early as possible! 👍 We can move from there!

[2018-10-08 18:48] AhmedRedaAmin commented on #220
Okay , fair enough , Pull request to `words/cuss` coming right up , like the French team , I 'll be pushing only the `.json` file .

[2018-10-08 21:54] laurenmayers commented on #223
I'll start with a simple anchor tag #content jump, and play around with the Element.scrollIntoView() function and see how it goes :)

[2018-10-09 16:43] laurenmayers opened #225 "Add website favicon"
### Subject of the issue

Add a favicon to the website.

### Your environment
MacOS 10.14
Node v8.11.3 and npm v6.4.1, Chrome v69.0.3497.100

### Steps to reproduce
Add a favicon.png to the HTML head.

### Expected behaviour
Favicon is displayed on desktop and mobile browsers (e.g. when saved as mobile bookmark).

### Actual behaviour
No favicon has been added yet.

I can add this and push this qu

[2018-10-09 18:54] Murderlon commented on #225
Sounds good 👍
I'd recommend creating a 260x260 version and [this](https://realfavicongenerator.net/) online tool, which also generated the HTML for you.

[2018-10-09 18:59] Murderlon commented on #223
resolved in #224

[2018-10-09 18:59] #223 closed

[2018-10-09 19:54] Murderlon commented on #210
Resolved in https://github.com/retextjs/retext-equality/pull/55

[2018-10-09 19:54] #210 closed

[2018-10-09 20:05] laurenmayers commented on #225
Thanks @Murderlon! That is an awesome tool. Just created the PR - looks like it's included my recent commits as part of a changelog, hoping I haven't PR'd those again too? (Still new to this, really appreciative of any feedback and wanting to make sure I'm contributing the right way). Thanks :)

[2018-10-10 11:01] IfeanyiEkperi commented on #221
Ok @Murderlon. Noted

[2018-10-10 11:05] #221 closed

[2018-10-10 11:10] swastikbanerjee07 commented on #209
Hi ! Can I take this issue up?

[2018-10-10 11:13] swastikbanerjee07 commented on #208
Hi ! How about using nltk for sentiment analysis by textblob API?
Can I take this issue up?

[2018-10-10 11:19] IfeanyiEkperi opened #228 "Contributing segment of the website"
The 'contributing' segment of the website has a little error.

'.....  You can also tweet to me or send me an e-mail.'

This should be:
.  You can also tweet at me or send me an e-mail.'

Secondly, there should be an email opt-in form on the website. We also need a form of mailing services to help keep volunteers updated with happening in the project as well as notify them when help is needed.

So

[2018-10-10 11:19] Qix- commented on #209
@swastikbanerjee07 absolutely :)

[2018-10-10 12:47] erickzhao commented on #208
@swastikbanerjee07 feel free right now I haven't had the time over the past week to do anything!

[2018-10-10 13:34] wooorm commented on #208
@swastikbanerjee07 This project is in JavaScript, but that could definitely be another project!

[2018-10-10 15:44] swastikbanerjee07 commented on #208
@wooorm Ou. Then I guess I'll not be able to contribute for this project? :( I don't know JavaScript.

[2018-10-10 16:06] swastikbanerjee07 commented on #209
Cool! I'll start working on it.

[2018-10-10 16:50] MrBenJ opened #229 "RegEx DoS attack in debug@2.x.x package"
### Subject of the issue

There's a low severity vulnerability issue with the `debug` package used in babel 6 and Ava for tests.

### Your environment

*   MacOS 10.13.5
*   Node v8.2.1 npm v6.1.0

### Steps to reproduce

Start a new project with `npm init`
Install `alex` with `npm install alex`
Notice the `npm audit` security vulnerability appear.

### Expected behaviour

There should be no secur

[2018-10-11 08:39] Murderlon commented on #228
@IfeanyiEkperi I like your enthusiasm in coming up with issues, but an email service for updates and issues is redundant and very time consuming. The single source of truth for issues are the [issues](https://github.com/get-alex/alex/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc), and updates feel like [release notes](https://github.com/get-alex/alex/releases).

If you like to contribute for h

[2018-10-11 08:39] #228 closed

[2018-10-11 13:02] wooorm commented on #229
I think this issue isn’t really a problem, as this is just stuff user for development. It’s not like we’re running a server that could crash (in which case this would be a problem).

I do think that other people will see this warning and take it too literally though, so I’m fine with upgrading to ava@next 👍

[2018-10-11 13:45] wooorm commented on #202
@rampagesang Awesome! Unfortunately I don’t think languages that use a script other than the Latin-script can work with the current technical setup :(

[2018-10-11 16:05] MrBenJ commented on #229
I totally agree with you on that @wooorm - The reason I'm bringing this up is that Github and npm both show big warnings on my repos that use your project. They look a little like this:
![screen shot 2018-10-11 at 9 03 19 am](https://user-images.githubusercontent.com/7918387/46817771-8c431480-cd34-11e8-8613-a570f738dc47.png)

While it's alarming, it really isn't that bad of an issue, since like yo

[2018-10-11 17:11] MrBenJ commented on #229
Hello!

I found the root cause of the `npm audit` issue. It's here:
https://github.com/alessioalex/git-spawned-stream/pull/5

I submitted a PR to that project as well. Those tests are passing right now and hopefully we can get this all taken care of :D.

As a quick side note, there's this great free tool I use to keep dependencies up to date called [Greenkeeper](https://greenkeeper.io/).

Thanks a

[2018-10-12 10:07] alessioalex commented on #229
Issue fixed in `git-spawned-stream`, published version `1.0.1` to npm already.

[2018-10-12 18:01] wooorm commented on #229
Perfect! OK if I close this?

[2018-10-13 04:45] Yangeok commented on #202
Can i help you to translate language korean?

[2018-10-13 07:45] wooorm commented on #202
@Yangeok Hey, that’s cool! I don’t think Korean will work (see the comment before yours), but German would definitely work!

[2018-10-13 09:28] wooorm commented on #212
Soo, we landed Spanish in `cuss`! Thanks @CRomano31415, @baezor, @MrBenJ, and @fportela-ns for working on this! 🎉

The next step is to add something for Spanish to [`retext-equality`](https://github.com/retextjs/retext-equality). Anyone able and interested to work on that?

[2018-10-13 09:32] wooorm commented on #207
Soo, we landed French in `cuss`! Thanks @cynferdd, @AurelieBayre, @cedroid09, and @deatheguard for working on this! 🎉

The next step is to add something for French to [`retext-equality`](https://github.com/retextjs/retext-equality). Anyone able and interested to work on that?

[2018-10-13 09:36] wooorm commented on #220
Thanks for working on this @AhmedRedaAmin! That’s awesome.

The next step is to add something for Latin-script Arabic to [`retext-equality`](https://github.com/retextjs/retext-equality). Anyone able and interested to work on that?